<div class="body clearfix">
		<!-- left -->
		<div class="body__left">
			<div class="left__menu" id="scroll-menu">
			  <% unless @services_left.blank? %>
				<h3 class="left__menu-title">Услуги компании «Полис»:</h3>
				<ul>
					<% @services_left.each do |service| %>
		      	<%= content_tag :li, :class => ('left__menu-selected' if @service == service) do %>
				      <%= link_to service.title, '#id'+service.id.to_s %>
				    <% end %>
			    <% end %>
				</ul>		
				<% end %>
        <% unless @dispanserizations.blank? %>
          <h3 class="left__menu-title">Диспансеризация:</h3>
          <ul>
            <% @dispanserizations.each do |service| %>
              <%= content_tag :li, :class => ('left__menu-selected' if @service == service) do %>
                <%= link_to service.title, '#id'+service.id.to_s %>
              <% end %>
            <% end %>
          </ul>
        <% end %>
			</div>
		</div>
		<!-- end left -->
		<!-- data -->		
		<div class="body__data">
			<% @services.each do |service| %>
			<div id="<%= 'id'+service.id.to_s %>" class="text">
				<h1 class="text__title" id="<%= service.extra_type %>"><%= service.title %></h1>
				<%= service.description.html_safe %>
				<% unless service.appointment.blank? %>
				<%= render 'button' %>	
				<% end %>
			</div>
			<% end %>
			<a href="#" title="Наверх" class="up-link">Вверх</a>
			
		</div>
		<!-- end data -->
	</div>
