<div id="slider">
  <ul>
    <li>
      <%= link_to 'https://www.rosminzdrav.ru/news/2016/12/05/3315-v-ramkah-otkrytiya-rossiyskoy-nedeli-zdravoohraneniya-2016-ob-yavleny-pobediteli-vserossiyskogo-konkursa-luchshiy-proekt-gosudarstvenno-chastnogo-vzaimodeystviya-v-zdravoohranenii', target: '_blank' do %>
        <%= image_tag 'best-public-health-2016.png' %>
      <% end %>
    </li>
    <li>
      <%= link_to 'http://spb.awards.rbc.ru/nominees/euromed-group-spb.htm', target: '_blank' do %>
        <%= image_tag 'rbk-slide.png' %>
      <% end %>
    </li>
    <% @slides.each do |slide| %>
      <li>
        <%= image_tag slide.image.url(:content) %>
        <div class="s-text-wrap">
          <span class="sw-title"><%= slide.title %></span>

          <div class="sw-text"><%= simple_format slide.text %></div>
          <%= link_to slide.link_title, slide.link_url, :class => 'sw-detail' %>
        </div>
      </li>
    <% end %>
  </ul>
  <span class="s-bordered-layer"></span>

  <div class="start__bottom clearfix review-button__container">
    <div class="review-button__inline">
      <%= react_component('ReviewButton', { \
            offices: offices_for_review, \
            doctors: doctors_for_review, \
            }, { prerender: true })
        %>
    </div>
    <div class="review-button__inline">
      <%= react_component('ReviewButton', { \
            type: 'negative', \
            offices: offices_for_review, \
            doctors: doctors_for_review, \
            }, { prerender: true })
        %>
    </div>
    
  </div>

  <div id="s-pagination"></div>
</div>