.vacancy-request-form
  hr
  br
  = form_for request do |f|

    .vacancy-request-form__label ФИО
    .vacancy-request-form__input
      = f.text_field :name, placeholder: 'Иван Иванов', maxlength: 249, size: 40, required: true
    .vacancy-request-form__label Дата рождения
    .vacancy-request-form__input
      = f.text_field :birthday, placeholder: '28 февраля 1987', maxlength: 249, size: 40, required: true
    .vacancy-request-form__label Телефон
    .vacancy-request-form__input
      = f.text_field :phone, placeholder: '+7 987 654-32-10', maxlength: 249, size: 40, required: true
    .vacancy-request-form__label Электронная почта
    .vacancy-request-form__input
      = f.text_field :email, placeholder: 'name@mail.ru', maxlength: 249, size: 40

    = f.button 'Отправить заявку', class: 'vacancy-request-form__submit'