<div id="test"></div>
		<script type="text/javascript">
			window.zdravWidget = {
				id: document.getElementById("test"),
				TOKEN: "abcd"
			};
		</script>
		<script src="/poliswdgt.js" charset="UTF-8"></script>
