<div class="body clearfix">
		<!-- data left -->		
		<div class="body__data-left">
			<div class="newsdata">
				<a name="top"></a>
				<div class="clearfix"><a href="javascript:history.back()" class="newsdata__back">назад</a></div>
				<%= render 'widget' %>
			</div>			
		</div>
	</div>