.body.clearfix(style="min-height: 500px;")
  .text__title Мы готовимся к аккредитации по стандарту JCI

  = image_tag 'jci-page-doctors.png'

  p.text__part
    br
    b JCI (Joint Commission International)
    ' – одна из самых крупных международных организаций в мире, которая выступает экспертом в оценке качества и безопасности работы медицинских организаций.
  p.text__part
    ' Стандарты JCI разрабатываются международными экспертами, и считаются «золотым стандартом» в области здравоохранения.
  p.text__part
    | Аккредитация  JCI не является обязательной, однако стремление получить данный сертификат соответствия всегда означает серьезное отношение администрации к принятым обязательствам перед пациентами.
  p.text__part
    | Внедрение стандартов JCI помогает повысить уровень культуры работы, снизить риск, как для пациентов, так и для сотрудников организации и повысить качество и безопасность медицинской помощи.

  p.text__part
    br
    b Контакты JCI (Joint Commission International):

  p.text__part
    | 1515 West 22nd Street, Suite 1300W Oak Brook, Illinois 60523 USA

  p.text__part
    = link_to '+1 630 268 7400', 'tel:+1 630 268 7400'
    '  (с 8:30 до 17:00, с понедельника по пятницу)

  p.text__part
    = link_to 'www.jointcommissioninternational.org', '//www.jointcommissioninternational.org'
  br
  br

