.body.clearfix(style="min-height: 500px;")
  .text__title Дорогие друзья
  p.text__tizer
    | Компания «Полис. Участковые врачи», которая работает для вас, была отмечена главным деловым СМИ страны – РБК, и выдвинута на премию в номинации «Прорыв года».

  = image_tag 'rbk_poll_of_year.jpg'

  p.text__part
    | Если вы неравнодушны к нашей работе, пожалуйста, примите участие в голосовании, которое будет проходить с 7 по 15 ноября.
    br
    ' Для этого нужно зарегестироваться на сайте
    = link_to 'spb.awards.rbc.ru', 'http://spb.awards.rbc.ru/nominees/breakthrough_spb/euromed-group-spb.htm'
    br
    | и отдать свой голос за Euromed Group – группу компаний, в которую входит наш «Полис».

    br
    br
    br
    = link_to 'http://spb.awards.rbc.ru/nominees/breakthrough_spb/euromed-group-spb.htm' do
      = image_tag 'to_poll_button.png'
    br
    br
    br
  .text__title Давайте станем прорывом года вместе
