.body.clearfix(style="min-height: 500px;")
  .text__title Дорогие друзья!
  p.text__part
    | 3 июля 2016 года в Санкт-Петербурге состоится традиционный Международный марафон «Белые ночи».
    br
    br
    | Забег пройдет в центре города на дистанции 42 км 195 м и 10 км.
    br
    br
    | Участникам необходимо пройти медицинский осмотр и в день проведения марафона иметь справку о допуске к соревнованиям.

  = image_tag 'pages/runners/importnant.png', class: 'text__image'

  p.text__tizer
    | Все желающие могут быстро и совершенно бесплатно пройти этот осмотр в любом из центров «Полис», расположенных по адресам:

  p.text__tizer
    | Приморский район:
  p.text__part.m-glue
    | · пр. Королева, д.63 к.2
    br
    | · ул. Малая Десятинная д.11-1, лит. А
    br
    | · ул. Парашютная, д. 23 к.2
    br
    | · ул. Савушкина, д. 138
    br
    | · Приморский пр., д. 137, к.1
    br
    | · Фермское шоссе, д.32
    br
    | · Коломяжский пр., д. 20
    br
    | · Ул. Оптиков д. 52 лит В

  p.text__tizer
    | Красносельский район:
  p.text__part.m-glue
    | · Красносельское шоссе, д. 56, к.2
    br
    | · Петергофское шоссе, д.59, лит.А
    br
    | · ул. Политрука Пасечника д. 8

  p.text__tizer
    | Пушкинский район:
  p.text__part.m-glue
    | · Московское шоссе, д. 246


  p.text__tizer
    | Выборгский район:
  p.text__part.m-glue
    | · Школьный переулок д. 1 литера Б
    br
    | · ул. Федора Абрамова дом 8


  p.text__tizer
    | Красногвардейский район:
  p.text__part.m-glue
    | · Муринская дорога д. 74 кор. 1


  p.text__tizer
    | Просто возьмите с собой паспорт, полис ОМС и скажите кодовое слово «Марафон»
    ' администратору центра на регистратуре!
  /TODO: сделать класс у кнопки нормальный, какой-нить общий для всего продукта в целом
  p.text__part
    = button_tag class: 'text__imagable-btn js-open-request-form' do
      = image_tag 'pages/runners/action.png'
    .vacancy-request-form__help = flash[:notice]
    .js-request-form(style='display:none;')
      = render 'static_pages/visit_request_form', request: @visit_request

  br
  br
  br
  br
  p.text__part
    span = "Хотите узнать подробнее? Пишите нам вконтакте "
    = link_to 'vk.com/polis_oms', '//vk.com/polis_oms', target: :blank
