.body.clearfix(style="min-height: 500px;")
  - email = current_region.id == 1 ? 'HR@polisoms.ru' : 'ul-admin@polisoms.ru'
  - phone = current_region.id == 1 ? '670-00-30' : '30-70-03'
  h1.text__title Наши вакансии
  .responses
    p
      strong
        'Сеть медицинский центров Полис. Участковые врачи активно растет и&nbsp;развивается.
        br
        'Нам очень нужны настоящие профессионалы и&nbsp;просто хорошие люди, которые любят людей.
    br
    p
      'Об&nbsp;открытых вакансиях вы&nbsp;можете узнать по&nbsp;номеру:
      strong = phone
    br
    p
      'Резюме отправляйте на&nbsp;адрес электронной почты
      = link_to email, "mailto:#{email}"


