<% content_for :head do %>
    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            <% if region_has_appointments %>
            myMap = new ymaps.Map('map', {center: [60.010909, 30.268874], zoom: 9});
            <% else %>
            myMap = new ymaps.Map('map', {center: [54.347226, 48.345164], zoom: 9});
            <% end %>
            myMap.controls.add('zoomControl', { left: 5, top: 5 });
            var geoObject;
            <% @offices.each do|office|%>
            <%# if office.lat.blank? || office.lon.blank? %>
            var addr = '<%= "#{current_region.name}, #{office.adress}" %>';
            ymaps.geocode(addr, { results: 1 }).then(function (res) {
                geoObject = res.geoObjects.get(0);
//                $.post("/update_office", {id: <%= office.id %>, lat: geoObject.geometry.getCoordinates()[0], lon: geoObject.geometry.getCoordinates()[1]})
                myMap.geoObjects.add(geoObject);
            });

            <%# else %>
//            myMap.geoObjects.add(new ymaps.Placemark([<%# office.lat %>, <%# office.lon %>], {
//                        balloonContentHeader: "<%# office.title %>",
//                        balloonContent: "<%# office.adress %> <br/> <a href='/offices/<%# office.id %>'>Подробнее</a>"
//                    }
//            ));
            <%# end %>
            <% end %>
            myMap.container.fitToViewport();
        };
    </script>
<% end %>

<div class="body clearfix" style="min-height: 500px;">
  <div class="address">
    <div class="address__top">
      <div class="address__selector">
        <a href="#" class="address__selector-label">Выберите отделение</a>

        <div class="address__selector-list">
          <ul>
            <% @offices.each do |office| %>
                <%= content_tag :li, :class => ('address__selector-selected' if @office == office) do %>
                    <%= link_to office.adress, office %>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="address__map">
      <div class="address__map-data">
        <%= render :partial => 'map' %>
      </div>
    </div>
    <div class="address__bottom">
      <!--<a href="/appointment" class="address__bottom-register"><span>Записаться на прием к врачу</span></a>-->
    </div>
  </div>
</div>
<%# render 'reviews/review' %>
<%# render 'reviews/thank' %>