<% content_for :head do %>
<script type="text/javascript">
ymaps.ready(init);
function init () {
	var myGeocoder = ymaps.geocode("<%= @office.adress %>");
			myGeocoder.then(
		    function (res) {
				var firstGeoObject = res.geoObjects.get(0),
				myMap = new ymaps.Map('map', {
							center: firstGeoObject.geometry.getCoordinates(),
							zoom: 12
							});

				myMap.controls
				.add('zoomControl', { left: 5, top: 5 })
				
				res.geoObjects.options.set('preset', "twirl#lightblueDotIcon");
			
		        myMap.geoObjects.add(res.geoObjects);
		    },
		    function (err) {
		        // обработка ошибки
		    }
		);
};
</script>
<% end %>


<div class="body clearfix" style="min-height: 500px;">
		<div class="address">
			<div class="address__top">
				<div class="address__selector">
					<a href="#" class="address__selector-label">Выберите отделение</a>
					<div class="address__selector-list">
						<ul>
				<% @offices.each do |office| %>
				<%= content_tag :li, :class => ('address__selector-selected' if @office == office) do %>
				<%= link_to office.adress, office %>
				<% end %>
				<% end %>
						</ul>
					</div>
				</div>
				<p class="address__info"><b>Адрес:</b>&nbsp<%= @office.adress %></p>
			</div>
		<div class="address__map">
			<div class="address__map-data">
				<%= render :partial => 'map' %>
			</div>
			
		</div>
		<div class="address__bottom">
			<!--<a href="/appointment" class="address__bottom-register"><span>Записаться на прием к врачу</span></a>-->
		</div>
		<div class="clearfix">
			<%# render :partial => 'doctors' %>
			<%= if @articles.empty?
			nil
			else
			render 'news'
			end %>
		</div>
	</div>
</div>

<%= render 'reviews/review' %>
<%= render 'reviews/thank' %>