<p>Здравствуйте, <%= review.author %></p>

<p>Большое спасибо за Ваш отзыв на сайте <%= link_to 'polisoms.ru', root_url %>. Сожалею, что визит в наш центр произвел на Вас такое неприятное впечатление.</p>
<p>Мы свяжемся с Вами в течение трех рабочих дней, чтобы подробно разъяснить причины произошедшего, а также рассказать о тех мерах, которые мы предприняли или собираемся предпринять, чтобы избежать таких ситуаций в будущем.</p>

<p>
  С уважением,<br/>
  Луковникова Александра<br/>
  специалист службы контроля качества<br/>
  Проект "Полис" Euromed group<br/>
  <br/>
  service@polisoms.ru<br/>
  (812) 670 06 03
</p>