<p>Здравствуйте, <%= review.author %></p>

<p>
Большое спасибо за Ваш отзыв на сайте <%= link_to 'polisoms.ru', root_url %>.
Нам действительно важно Ваше мнение, и мы рады, что визит в наш центр оставил у Вас приятное впечатления.
</p>

<p>
Если у Вас появятся предложения по улучшению качества обслуживания пациентов в центрах «Полис. Участковые врачи», Вы всегда можете направить их по адресу info@polisoms.ru. Большое спасибо, что Вы помогаете делать наши центры лучше!
</p>

<p>
  С уважением,<br/>
  Луковникова Александра<br/>
  специалист службы контроля качества<br/>
  Проект "Полис" Euromed group<br/>
  <br/>
  service@polisoms.ru<br/>
  (812) 670 06 03
</p>