<% if @articles.empty? %>

  <p>Новостей нет</p>

<% else %>

  <% @articles.each do |article| %>
    <li>
      <div class="news__item-top">
        <div class="news__item-image">
          <% if article.photo? %><%= image_tag(article.photo.url(:content)) %>
          <% end %></div>
        <%= link_to article.title, article %>
        <span>
			<% if article.date != nil %>
			<%= article.date.strftime("%m.%Y") %> 
			<% else
           nil end %>
          <% if article.date != nil && article.office_id != nil %>
			|
			<% else
           nil end %>
          <% if article.office_id != nil %>
			<%= Office.where(:id => article.office_id).first.title %>
			<% else
           nil end %>
			</span>
      </div>
      <p><%= truncate(strip_tags(article.description), length: 600).html_safe %></p>
      <%= link_to "Читать полностью", article, :class => 'news__item-open' %>
      <div class="news__item-share"><%= render 'shared/share_buttons' %></div>
    </li>
  <% end %>

<% end %>
