<div class="body clearfix">
  <div class="body__left">
    <div class="left__news" id="scroll-menu">
      <%# form_tag('/load_articles', remote: true, id: 'sort_form', data: { type: 'html' }) do %>
        <!--<div class="left__news-section">-->
          <!--<div class="left__news-item left__news-selected clearfix">-->
            <!--<input type="radio" value="all" name="radio" checked="yes" class="left__news-radio" id="radio1"/><label for="radio1">Показать-->
            <!--все новости</label></div>-->
        <!--</div>-->
        <!--<div class="left__news-section clearfix">-->
          <!--<div class="left__news-item clearfix">-->
            <!--<input type="radio" value="by" class="left__news-radio" name="radio" id="radio2"/>-->
            <!--<label for="radio2">Только по отделениям:</label>-->
          <!--</div>-->
          <%# @offices.each do |office| %>
            <!--<div class="left__news-item clearfix">-->
              <%#= check_box_tag "office[]", office.id, false, :class => 'left__news-check' %>
              <%#= label_tag office.title %>
            <!--</div>-->
          <%# end %>
        <!--</div>-->
      <%# end %>
    </div>

  </div>
  <!-- end left -->
  <!-- data -->
  <div class="body__data" style="min-height: 500px;">

    <ul class="news" id="news_block">
      <%= render 'news' %>
    </ul>
    <div class="load-more__pagination-container">
      <%= will_paginate @articles %>
    </div>
    <%= button_tag 'Загрузить еще...', class: 'js-load-more load-more__btn', type: :button %>


  </div>
  <!-- end data -->

</div>

