$('#news_block').append("<%= j render 'articles/news'%>");
<% if @articles.next_page %>
  $('.pagination').replaceWith('<%= j will_paginate(@articles) %>');
<% else %>
  $('.pagination').remove();
  $('.js-load-more').remove();
<% end %>