<div class="body clearfix">
  <!-- data left -->
  <div class="body__data-left">
    <div class="newsdata">
      <a name="top"></a>

      <div class="clearfix"><a href="javascript:history.back()" class="newsdata__back">назад</a></div>
      <h2 class="newsdata__title"><%= @article.title %></h2>
				<span class="newsdata__subtitle">
					<% if @article.date != nil %>
					<%= @article.date.strftime("%m.%Y") %> 
					<% else
               nil end %>
          <% if @article.date != nil && @article.office_id != nil %>
					|
					<% else
               nil end %>
          <% if @article.office_id != nil %>
					<%= Office.where(:id => @article.office_id).first.title %>
					<% else
               nil end %>
				</span>

      <p><%= sanitize @article.description %></p>
      <div class="newsdata-share"><%= render 'shared/share_buttons' %></div>

      <a href="#" title="Наверх" class="up-link">Вверх</a>
    </div>
  </div>
  <!-- end data left-->
  <!-- body right -->
  <%= if @other.empty?
        nil
      else
        render 'othernews'
      end %>
</div>