.body.clearfix(style="min-height: 500px;")
  h1.text__title Наши вакансии
  .vacancies
    - @collection.each do |vacancy|
      .vacancy
        h3
          span.vacancy__category-image = image_tag vacancy.category_image_path
          = link_to vacancy_url(vacancy), class: 'vacancy__link' do
            span.vacancy__title = vacancy.title
            /span.vacancy__date = l vacancy.created_at, format: :full_words
