.body.clearfix(style="min-height: 500px;")
  .vacancy
    h3.vacancy__title.m-simple
      = @resource.title
      /span.vacancy__date = l @resource.created_at, format: :full_words
    - if @resource.image.exists?
      = image_tag @resource.image.url, class: 'vacancy__image'

    .vacancy__description = raw @resource.description

    = button_tag 'откликнуться на вакансию', class: 'vacancy-request-form__submit js-open-request-form'
    .vacancy-request-form__help = flash[:notice]
    .js-request-form(style='display:none;')
      = render 'vacancy_requests/form', vacancy_request: @vacancy_request
    br
    br
    .vacancy__shared = render 'shared/share_buttons'
