.doctor{
  $module: '.doctor';

  // Большая карточка
  &.m-big{
    $offset: 20px;
    $heart-size: 14px;
    $width: 170px;
    $like-btn-size: 14px;
    $doctor-name-size: 14px;

    width: $width;
    margin: 0 $offset $offset 0;
    &:nth-of-type(5n) {
      margin-right: 0;
    }


    #{$module}__image-container{
      position: relative;
      text-align: center;

      &:hover{
        #{$module}__vote-btn{
          opacity: .99;
        }
      }
    }

    #{$module}__image{
      width: 100%;
      height: auto;
    }

    #{$module}__vote-btn{
      $btn-size: 110px;
      position: absolute;
      bottom: $offset/2;
      left: 50%;
      margin-left: -$btn-size/2;
      width: $btn-size;

      opacity: .001; // will show by hover
    }
    
    #{$module}__votes-container{
      position: absolute;
      top: $offset/2;
      right: $offset/2;
      font-size: $heart-size;
      line-height: $heart-size;
    }

    #{$module}__votes-icon{
      padding-left: .3em;
      color: red;
    }

    #{$module}__votes-count {
      font-weight: bold;
    }

    #{$module}__link{
      line-height: 1.5;
      text-align: center;
      &, &:hover, &:visited, &:active, &:focus, > *{
        text-decoration: none;
        color: #444;
        display: block;
      }

      &:hover > *, &:focus > *{
        color: #000;
      }
    }

    #{$module}__name{
      font-size: 13px;
      font-weight: bold;
    }

    #{$module}__job{
      font-size: 11px;
      padding-top: .3em;
    }
  }

  // Маленькая карточка
  &.m-small{
    $offset: 5px;
    $width: 80px;
    $like-btn-size: 7px;
    $doctor-name-size: 8px;
    $votes-count-size: 20px;

    width: $width;
    height: $width;
    margin: 0 $offset $offset*3 0;
    position: relative;
    overflow: visible;

    &:nth-of-type(11n) {
      margin-right: 0;
    }

    #{$module}__image{
      width: 100%;
      height: auto;
    }

    #{$module}__image-container {
      position: relative;
    }

    #{$module}__votes-container{
      position: absolute;
      bottom: $offset;
      right: $offset;
    }

    #{$module}__votes-icon{
      width: $votes-count-size;
      font-size: $votes-count-size;
      line-height: $votes-count-size;
      color: red;
    }

    #{$module}__votes-count{
      position: absolute;
      width: $votes-count-size;
      line-height: $votes-count-size - 1px;
      text-align: center;
      color: white;
      font-size: .7em;
      top: 0;
    }

    // HOVER эффект карточки
    &:hover {
      #{$module}__scalable{
        transform: scale(2);
        opacity: .99;
        z-index: 99;
      }
    }

    #{$module}__scalable{
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      text-align: center;
      opacity: .001;
      padding: $offset;

      transition: all .1s ease-in-out;
      -webkit-transition: all .1s ease-in-out;
      -moz-transition: all .1s ease-in-out;


      &, &:hover, &:active, &:visited, &:focus {
        text-decoration: none;
      }

      #{$module}__image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    #{$module}__overlay{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(100, 100, 120, 0.7);
      text-align: center;
      left: 0;
      top: 0;
    }

    #{$module}__name, #{$module}__job{
      position: relative;
      font-size: $doctor-name-size;
      color: white;
      text-decoration: none;
      line-height: 1.4;
    }

    #{$module}__name{
      padding-top: 1.3em;
    }

    #{$module}__job{
      padding-top: .5em;
    }

    #{$module}__vote-btn{
      position: absolute;
      bottom: $offset;
      font-size: $like-btn-size;
      width: $like-btn-size*10;
      left: 50%;
      margin-left: -$like-btn-size*5;
      line-height: 2;
    }

  }

  // Общие стили
  #{$module}__vote-btn {
    line-height: 2.3;
    background-color: red;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -ms-border-radius: 40px;
    display: block;

    text-align: center;
    width: 9.28em;
    border: none;
    outline: none;
    cursor: pointer;

    transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;

    &, &:hover, &:visited, &:active {
      text-decoration: none;
      color: white;
    }

    &:hover {
      background-color: rgba(230, 0, 0, 1);
    }

    .doctor-vote-btn-icon {
      color: white;
    }
  }

  #{$module}__vote-btn-icon{
    padding-left: 0.3em;
  }

}