.js-hidden-fields
  = hidden_field_tag :district_id, params[:district_id]
  = hidden_field_tag :lpu_id, params[:lpu_id]

  = hidden_field_tag :lpu_title, params[:lpu_title]

  = hidden_field_tag :first_name, params[:first_name]
  = hidden_field_tag :last_name, params[:last_name]
  = hidden_field_tag :middle_name, params[:middle_name]

  = hidden_field_tag 'birthday(3i)', params['birthday(3i)']
  = hidden_field_tag 'birthday(2i)', params['birthday(2i)']
  = hidden_field_tag 'birthday(1i)', params['birthday(1i)']
  = hidden_field_tag :birthday, params[:birthday]

  = hidden_field_tag :address, params[:address]
  = hidden_field_tag :phone_number, params[:phone_number]
  = hidden_field_tag :additional_phone_number, params[:additional_phone_number]
  = hidden_field_tag 'visitAt(3i)', params['visitAt(3i)']
  = hidden_field_tag 'visitAt(2i)', params['visitAt(2i)']
  = hidden_field_tag 'visitAt(1i)', params['visitAt(1i)']
  = hidden_field_tag :visitAt, params[:visitAt]
  /= hidden_field_tag :speciality_id, params[:speciality_id]
  /= hidden_field_tag :patient_id, params[:patient_id]

  /= hidden_field_tag :doctor_id, params[:doctor_id]
  /= hidden_field_tag :doctor_name, params[:doctor_name]

  /= hidden_field_tag :visit_start, params[:visit_start]
  /= hidden_field_tag :visit_end, params[:visit_end]

  /= hidden_field_tag :visit_date, params[:visit_date]
  /= hidden_field_tag :visit_time, params[:visit_time]

  /= hidden_field_tag :appointment_id, params[:appointment_id]