.body
  .appointment-form.js-appointment-step-6
    .back-btn.js-back-btn

    .col.col-60
      h3 = "Уважаемый #{params[:first_name]} #{params[:middle_name]}"


      .confirm-box
        .form-group
          .text-row
            .info.m-big
              = raw @resource.end_call_home_time_text