.body
  .appointment-form.js-doctor-requests-form
    = render_doctor_requests_steps_for_step 3

    = error_messages
    = form_tag doctor_requests_path do
      = render 'hidden_fields'
      .form-group
        h3 Время и адрес вызова врача

        p
          | Введите дату вызова врача на дом
          br
          | Cегодня
        /.text-row
          = text_field_tag 'visitAt(3i)', params['visitAt(3i)'], size: '4', placeholder: 'День', required: true, type: 'text', maxlength: 2, class: 'js-numeric'

          - unless params[:visitAt].blank?
            - if Date.valid_date? *params[:visitAt].split('-').map(&:to_i)
              - birthday_month = Date.parse(params[:visitAt])
          - else
            - birthday_month = nil
          = select_month birthday_month, { field_name: false, prompt: 'Месяц', prefix: 'visitAt(2i)', discard_type: true }, { class: 'js-requried  js-select', required: true, placeholder: 'месяц' }

          = text_field_tag 'visitAt(1i)', params['visitAt(1i)'], size: '10', placeholder: 'Год', required: true, type: 'text', maxlength: 4, class: 'js-numeric'

        br
        p Ваш адрес проживания
        .text-row
          = text_area_tag 'address', params[:address], rows: 3, cols: 80, placeholder: '', required: true

        p Контактные данные по которым с вами можно связаться
        .text-row
          = text_field_tag 'phone_number', params[:phone_number], size: '30', placeholder: 'Телефон', required: true
          = text_field_tag 'additional_phone_number', params[:additional_phone_number], size: '40', placeholder: 'Дополнительные телефон'

        br
        p Уважаемые пациенты! Обращаем Ваше внимание, что если контактный номер телефона указан неверно или на звонок оператора никто не ответит, заявка будет считаться недействительной и вызов осуществлен не будет!

      .btn-block
        = submit_tag 'Отправить заявку', class: 'btn btn-success m-inactive js-next-step', disabled: :disabled
        .info Заполните все поля,чтобы перейти к следующему шагу



