.body
  .appointment-form.js-call-doctor-home-step-1
    = render_doctor_requests_steps_for_step 2

    = error_messages

    = form_tag doctor_requests_form_path do
      = render 'hidden_fields'

      .form-group
        h3 Уточните Ваш район
        p Выберите из списка район, в котором находится клиника
        = text_field_tag :district_id, params[:district_id], id:'js-districts', size:'50', placeholder: 'Выберите из списка'



      .form-group
        h3 Уточните Вашу клинику
        p Выберите из списка клинику, в которую собираетесь записаться
        = text_field_tag :lpu_id, params[:polyclinic_id], id:'js-polyclinics', size:'90', placeholder: 'Сначала выберите район'

      .confirm-box#js-call-doctor-home-coupons-success-container
        .form-group
          .text-row
            .info
              ' Количество свободных талонов вызова врача на дом:
              span#js-call-doctor-home-free-coupons

      .confirm-box#js-call-doctor-home-coupons-failed-container
        .form-group
          .text-row
            .info
              p Сервис вызова врачей на дом перегружен.
              p В случае экстренной ситуации во избежание длительного ожидания рекомендуем обратиться в службу неотложной помощи или посетить ближайший центр Полис Euromed Group.
              p
                ' Телефоны неотложной помощи в Вашем районе можно уточнить при переходе по ссылке:
                = link_to 'http://gov.spb.ru/helper/zdrav/telefony-rajonnyh-otdelenij-skoroj-pomoshi-pri-poliklinikah/', 'http://gov.spb.ru/helper/zdrav/telefony-rajonnyh-otdelenij-skoroj-pomoshi-pri-poliklinikah/', target: '_blank'
              br
              p Приносим извинения за доставленные неудобства.

      .btn-block
        = submit_tag 'Далее', class: 'btn btn-success m-inactive js-next-step', disabled: :disabled
        .info Заполните все поля,чтобы перейти к следующему шагу


