= csrf_meta_tags
script(src="https://code.jquery.com/jquery-2.2.0.min.js")
css:
  table {
    width: 100%;
  }

  td, th{
    border: 1px solid #eee;
  }


javascript:
  $(document).ready( function(){

    $.ajaxSetup({
      headers: {
        'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
    });

    $('.js-called-checkbox').change( function(e){
      var $form = $(this).parent();
      $.ajax($form.attr('action'), {
        data: $form.serializeArray(),
        method: 'PUT'
      });
    });

    var commentTimerId = 0;
    $('.js-comment').keyup( function(e){
      clearTimeout(commentTimerId);
      commentTimerId = setTimeout(function(){
        var $form = $(this).parent();
        $.ajax($form.attr('action'), {
          data: $form.serializeArray(),
          method: 'PUT'
        });
      }.bind(this), 700);
    })

  });


= form_tag doctor_requests_list_path, method: 'GET' do
  = select_date @filtered_date, prefix: 'filtered_date'
  = submit_tag 'Фильтровать'

table(cellspacing=0 cellpadding=10)
  tr
    th ФИО и дата рождения
    th Отделение
    th Время визита
    th Адрес
    th Телефон
    th Время записи
    th
    th Комментарий
  - @doctor_requests.each do |request|
    tr
      td
        = "#{request.full_name} #{request.birthday.strftime("%d.%m.%Y")}"
      td = request.department_name
      td = request.visit_at.strftime("%d.%m.%Y")
      td = request.address
      td
        = request.phone_number
        - if request.additional_phone_number
          br
          = request.additional_phone_number

      td = request.created_at.strftime("%d.%m.%Y, %H:%M")
      td
        = form_for request, remote: true do |f|
          = f.check_box :called, class: 'js-called-checkbox'
      td
        = form_for request, class: 'js-comment-form' do |f|
          = f.text_area :comment, class: 'js-comment', rows: 2, cols: 30

