.body
  - if @show_districts_info
    .appointment-form
      h2 Вызвать по телефону
      .confirm-box.m-bordered
          .text-row.districts-info
            - @district_collection.each do |info|
              .district-info
                .district-info__title = info.district_title
                .district-info__phone = info.phone

  br
  br

  .appointment-form.js-appointment-step-2
    - if @show_districts_info
      h2 Вызвать онлайн
    = render_doctor_requests_steps_for_step 1

    = error_messages

    = form_tag doctor_requests_hospital_path do
      = render 'hidden_fields'
      .form-group
        h3 Представьтесь, пожалуйста
        p
          | Введите полностью Ваше имя и дату рождения.
          br
          | Все эти поля обязательны для заполнения
        .text-row
          = text_field_tag 'last_name', params[:last_name], size:'40', placeholder: 'Фамилия', required: true
          = text_field_tag 'first_name', params[:first_name], size:'30', placeholder: 'Имя', required: true
          = text_field_tag 'middle_name', params[:middle_name], size:'40', placeholder: 'Отчество'

        .text-row
          = text_field_tag 'birthday(3i)', params['birthday(3i)'], size:'4', placeholder: 'День', required: true, type: 'text', maxlength: 2, class: 'js-numeric'

          / заполняем выбранный месяц
          - unless params[:birthday].blank?
            - if Date.valid_date? *params[:birthday].split('-').map(&:to_i)
              - birthday_month = Date.parse(params[:birthday])
          - else
            - birthday_month = nil
          = select_month birthday_month, { field_name: false, prompt: 'Месяц',  prefix: 'birthday(2i)', discard_type: true }, { class: 'js-requried  js-select', required: true, placeholder: 'месяц' }

          = text_field_tag 'birthday(1i)', params['birthday(1i)'], size:'10', placeholder: 'Год', required: true, type: 'text', maxlength: 4, class: 'js-numeric'

      .btn-block
        = submit_tag 'Далее', class: 'btn btn-success m-inactive js-next-step', disabled: :disabled
        .info Заполните все поля,чтобы перейти к следующему шагу



