.body
  .appointment-form.js-appointment-step-6
    .back-btn.js-back-btn

    .col.col-60
      h3 = "Уважаемый #{params[:first_name]} #{params[:middle_name]}"


      .confirm-box
        .form-group
          .text-row
            .info.m-big
              | В&nbsp;связи с&nbsp;большой загруженностью, в&nbsp;центре по&nbsp;адресу Ростовская 14-16, временно, осуществляется прием в&nbsp;режиме &laquo;живой очереди&raquo;.
              br
              |Часы работы центра:будние дни с&nbsp;8:00&nbsp;&mdash; 20:00; выходные и&nbsp;праздничные с&nbsp;9:00&nbsp;&mdash; 17:00
