.body
  .appointment-form.js-appointment-step-6
    .back-btn.js-back-btn

    .col.col-60
      h3 = "Уважаемый #{params[:first_name]} #{params[:middle_name]}"


      .confirm-box
        .form-group
          .text-row
            .info.m-big
              | Заявка на вызов врача на дом оформлена. В ближайшее время с Вами свяжется наш оператор и подтвердит данные по вызову.
              br
              | Внимание! Если в течении двух часов после оформления заявки оператор Вам не перезвонил, пожалуйста, обратитесь в сall-центр по номеру 670-00-03.
