- path = 'https://www.rosminzdrav.ru/polls/9-anketa-dlya-otsenki-kachestva-okazaniya-uslug-meditsinskimi-organizatsiyami-v-ambulatornyh-usloviyah'
= link_to path, class: 'external-sidebar-link', target: '_blank', rel: 'nofollow' do
  span Независимая оценка качества оказания медицинских услуг