<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <style type="text/css">
    h3, h4 { margin-bottom: .4em; padding-bottom: .4em; }
  </style>
</head>
<body>
<% status = (@review.status == 'Positive')? 'позитивный' : 'негативный' %>
<% status_css = (@review.status == 'Positive')? 'color:green' : 'color: red' %>

<h3>Новый <span style="<%= status_css %>"><%= status %></span> отзыв на сайте <b>polisoms.ru</b></h3>
<b>=======================================================</b>
<h4>Отзыв:</h4>
<p><%= @review.description %></p>
<br/>
<br/>
<p>
  <b>Отделение</b> <%= @review.office.try(:title) %>, из региона Санкт-Петербург
  <br/>
  <b>Врачи</b>
  <% doctors = Doctor.where(id: @review.doctors.split(',')) %>
  <% doctors.each_with_index do |doctor, i| %>
    <span><%= i+1 %>)</span> <span><%= doctor.full_name %></span><br/>
  <% end %>
</p>
<p><b>Автор</b> <%= @review.author %>, контактные данные: <%= @review.contact %></p>
<b>=======================================================</b>
<br/>
<%= link_to 'Редактировать отзыв', edit_admin_review_url(@review), target: '_blank' %>
<br/>
<br/>
<h3>Ответы на отзыв</h3>
<%= link_to 'Написать личный ответ', admin_review_url(@review, anchor: 'review_answer_text_input'), target: '_blank' %>
<br/>
<!-- Блок с автоотзывами на имейл пока выключены-->
<%# if @review.status.underscore == 'negative' %>
  <%#= link_to 'Ответить вариантом №1', default_reply_admin_review_url(@review, type: 1), target: '_blank' %>
  <!--<br/>-->
  <%#= link_to 'Ответить вариантом №2', default_reply_admin_review_url(@review, type: 2), target: '_blank' %>
<%# else %>
  <%#= link_to 'Ответить единственным вариантом', default_reply_admin_review_url(@review, type: 1), target: '_blank' %>
<%# end %>
<!-- вместо них работают прямые ссылки на форму с вариантом текста -->
<% if @review.status.underscore == 'negative' %>
<%= link_to 'Ответить вариантом №1', admin_review_url(@review, type: 'negative_1'), target: '_blank' %>
<br/>
<%= link_to 'Ответить вариантом №2', admin_review_url(@review, type: 'negative_2'), target: '_blank' %>
<% else %>
<%= link_to 'Ответить единственным вариантом', admin_review_url(@review, type: 'positive_1'), target: '_blank' %>
<% end %>


</body>
</html>
