<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <style type="text/css">
    h3, h4 { margin-bottom: .4em; padding-bottom: .4em; }
  </style>
</head>
<body>

<%= @answer_text.html_safe %>



</body>
</html>
