<div class="body clearfix">
	<!-- left -->
	<div class="body__left">
		<div class="left__menu" id="scroll-menu">
			<% unless @abouts.blank? %>
			<h3 class="left__menu-title">О Компании "Полис"</h3>
			<ul>
				<% @abouts.each do |about| %>
		      	<%= content_tag :li, :class => ('left__menu-selected' if @about == about) do %>
				<%= link_to about.title, '#id'+about.id.to_s %>
				<% end %>
		        <% end %>
			</ul>
			<% end %>
			<% unless @usefulls.blank? %>
			<h3 class="left__menu-title">Полезная информация</h3>
				<ul>
					<% @usefulls.each_with_index do |about, i| %>
            <% if i + 1 == @usefulls.count %>
              <%= content_tag :li do %>
                <%= link_to 'Памятка. Бесплатно по полису ОМС', asset_path('pamyatka-besplatno-po-polisy-oms.pdf'), target: '_blank' %>
              <% end %>
            <% end %>
            <%= content_tag :li, :class => ('left__menu-selected' if @about == about) do %>
					    <%= link_to about.title, '#id'+about.id.to_s %>
            <% end %>
          <% end %>
				</ul>
			<% end %>
			<% unless @vacancy.blank? %>
			<h3 class="left__menu-title">Вакансии</h3>
				<ul>
					<% @vacancy.each do |about| %>
			      	<%= content_tag :li, :class => ('left__menu-selected' if @about == about) do %>
					<%= link_to about.title, '#id'+about.id.to_s %>
					<% end %>
			        <% end %>
				</ul>
			<% end %>
		</div>
	</div>
	<!-- end left -->
	<!-- data -->		
	<div class="body__data">
		
		
		
		<% @abouts.each do |about| %>
		<div id="<%= 'id'+about.id.to_s %>" class="text">
			<h1 class="text__title" id="<%= about.extra_type %>"><%= about.title %></h1>
			<%= about.description.html_safe %>
		</div>
		<% end %>
		<% @usefulls.each do |about| %>
		<div id="<%= 'id'+about.id.to_s %>" class="text">
			<h1 class="text__title" id="<%= about.extra_type %>"><%= about.title %></h1>
			<%= sanitize about.description.html_safe %>
		</div>
		<% end %>
		<% @vacancy.each do |about| %>
		<div id="<%= 'id'+about.id.to_s %>" class="text">
			<h1 class="text__title" id="<%= about.extra_type %>"><%= about.title %></h1>
			<%= sanitize about.description.html_safe %>
		</div>
		<% end %>	
		
		<a href="#" title="Наверх" class="up-link">Вверх</a>
			
		</div>
		
		
	</div>
	<!-- end data -->
</div>