.doctor-image
  - if doctor.photo.exists?
    = image_tag doctor.photo.url(:avatar)
  - else
    = image_tag 'default_doctor_avatar.png'
.doctor-votes
  .doctor-votes-icon.fa.fa-heart.js-doctor-votes-count
    .doctor-votes-icon-txt = doctor.votes_for.size
.doctor-overlay
  = link_to staff_path(doctor), class: 'doctor-link' do
    .doctor-name = doctor.full_name
    .doctor-job = doctor.job
    = link_to like_staff_path(doctor.id), class: 'doctor-vote-btn js-doctor-vote-btn', remote: true, method: 'post' do
      | Мне нравится
      span.fa.fa-heart.doctor-vote-btn-icon