= link_to like_staff_path(doctor.id), class: 'doctor-vote-btn', remote: true, method: 'post' do
  | Мне нравится
  span.fa.fa-heart.doctor-vote-btn-icon
.doctor-votes-count.animated.bounceIn
  = doctor.votes_for.size
  .doctor-votes-icon.fa.fa-heart