.body.clearfix(style="min-height: 500px;")
  .doctors
    .doctors-header
      .text__title Мы работаем для вас!
    = react_component('DoctorsList', {districts: @offices, doctors: @doctors}, { prerender: true })
    br
    .doctors-vacancies-link-container
      = link_to vacancies_path, class: 'doctors-vacancies-link' do
        = image_tag 'pages/vacancies/action-btn.png'
