//$(".js-doctors-list").html("<%# j render 'doctors', doctors: @doctors %>");
//$('.js-doctors-list-loader').addClass('m-inactive');

// два вида отрисовки
var cssClass = 'm-minithumb',
    bigClass = 'm-big';
<% if @is_minithumb %>
//  $(".doctors-list").addClass(cssClass).removeClass(bigClass);
<% else %>
//  $(".doctors-list").addClass(bigClass).removeClass(cssClass);
<% end %>