.body.clearfix(style="min-height: 500px;")
  .doctors
    .doctors-header
      .text__title Мы работаем для вас!
    .doctors-filter
      .doctors-filter-left
        = react_component('DoctorsSearch', { doctors: @doctors }, { prerender: true })
      .doctors-filter-right.m-text-right
        label Отделение:
        span = @doctor.polisoms_office.try(:label)
    .doctor-profile
      - doctor = @doctor

      .doctor-avatar
        - if doctor.photo.exists?
          = image_tag doctor.photo.url(:profile)
        - else
          = image_tag 'default_doctor_avatar.png'
        - appointment_link = current_region.try(:appointment_link).blank? ? appointment_step1_path : current_region.try(:appointment_link)
        = link_to 'записаться на прием', appointment_link, class: 'doctor-appointment-link'

      .doctor-description
        .doctor-name
          = doctor.full_name
        .doctor-job
          = doctor.job
        .doctor-resume
          = raw doctor.resume
        .doctor-votes.js-doctor-profile-votes
          = render 'doctor_profile_votes', doctor: doctor
