@import "active_admin/mixins";
@import "active_admin/base";
@import "font-awesome";
@import "select2";
@import "./select2_override";
@import "./appointments";

.text-green{ color: darkgreen; }
.text-red{ color: darkred; }

body.active_admin table.index_table tr td:last-child{ min-width: 100px; }
body.active_admin form textarea{ line-height: 1.5; font-size: 16px; }

.hidden{
  display: none;
}

// чтобы на странице новостей select были красивой длины
//body.active_admin form fieldset ol > li select{width: 20%;}
body.active_admin form fieldset ol > li label {width: 10%;}

body.active_admin form fieldset > ol > li fieldset ol.fragments-group,
body.active_admin form fieldset > ol > li.boolean label {
  padding-left: 10%;
}

body.active_admin form fieldset > ol > li fieldset ol.fragments-group .fragment { display: inline-block; width: auto; }
body.active_admin form fieldset > ol > li fieldset ol.fragments-group .fragment label,
body.active_admin form fieldset > ol > li fieldset ol.fragments-group .fragment select, { display: inline-block; width: auto; }

// чтобы в текстовом редакторе текст выглядел хорошо
h5, h6 {padding: .2em 0;}


// переопределяем ckeditor, чтобы он контроллы в линию выстроил
//.cke_skin_kama .cke_break{ clear: none !important; }

//.status_tag.success {
//  background: ;
//}