/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require select2
 *= require font-awesome
 *= require_self
 *= require public.css
 *= require appointments
 *= require doctors
 *= require doctor
 *= require footer_links
 *= require select2_override
 *= require react-select/dist/react-select
 *= require_tree ./doctors
 *= require_tree ./reviews_form
 *= require external_sidebar_link
 *= require vacancies
 *= require vacancy_request_form
 *= require response_answers
 *= require location_selects
 *= require static_pages
 *= require load_more
 *= require header
 */

/** Fonts **/

.start__news li:nth-child(3) {
  padding: 0px;
}

small {
  font: 12px/12px Tahoma !important;
  color: #999 !important;
  position: absolute !important;
  display: block !important;
  right: 0px !important;
  bottom: -20px !important;
  z-index: 1;

  a {
    color: #999 !important;
  }
}

/** Pagination **/

.flickr_pagination {
  padding: 0px 0px 60px 200px;

}

.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
  padding: 0px 2px 0px 0px;
  width: 25px;
  height: 27px;
  display: block;
  margin: 0px 4px 0px 0px;
  float: left;
  text-align: center;
  font: 12px/25px Tahoma;
  color: #717171;
  text-decoration: none;
  background: url(pagination__item.png) no-repeat;
}

.flickr_pagination .disabled {
  color: #aaaaaa;
}

.flickr_pagination .current {
  color: #f2f2f2;
  background: url(pagination__selected.png) no-repeat;
  width: 23px;
}

.flickr_pagination a {
  padding: 0px 2px 0px 0px;
  width: 25px;
  height: 27px;
  display: block;
  margin: 0px 4px 0px 0px;
  float: left;
  text-align: center;
  font: 12px/25px Tahoma;
  color: #717171 !important;
  text-decoration: none !important;
}

.flickr_pagination a:hover, .flickr_pagination a:focus {
  background-position: 0px -27px;
}

.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

.flickr_pagination .previous_page, .flickr_pagination .next_page {
  border-width: 2px;
}

.flickr_pagination .previous_page {
}

.flickr_pagination .next_page {
}

//margin-left: -100px;
//width: 176px;

#location {
  font-size: 0.8em;
  position: absolute;
  z-index: 30;
  top: 12px;
  left: 168px;
  width: 187px;
  background: none repeat scroll 0 0 #f7f8e6;
  border: 2px solid #bbd91f;
  border-radius: 12px;
  padding: 7px;
  #invite {
    color: #7f72b5;
    margin-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
  }
  a {
    color: #6c6c6a;
    text-decoration: none;
    display: inline-block;
    padding: 0 7px;
  }

  .point-und {
    text-decoration: underline;
    text-decoration-style: dotted;
    -moz-text-decoration-style: dotted;
  }

  input {
    font-size: 0.8em;
  }
  #name {
    width: 120px;
    border: 1px solid #f2f2f2;
    padding: 3px 20px 3px 3px;
  }
  .reg-name {
    font-size: 10px;
    text-decoration: underline;
    text-decoration-style: dotted;
    -moz-text-decoration-style: dotted;
    cursor: pointer;
  }
  &:after {
    left: 141px;
    bottom: -20px;
    position: absolute;
    width: 18px;
    height: 20px;
    content: "";
    background: url(choice-city-block__hint.png) no-repeat;
  }
}
