// shadow css classes
$green-rich: #71bf44;
$purple: #7b5ea1;
%btn-bg {
  background: #e4e4e4; /* Old browsers */
  background: -moz-linear-gradient(top, #e4e4e4 0%, #c1c1c1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(100%, #c1c1c1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e4e4e4 0%, #c1c1c1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e4e4e4 0%, #c1c1c1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e4e4e4 0%, #c1c1c1 100%); /* IE10+ */
  background: linear-gradient(to bottom, #e4e4e4 0%, #c1c1c1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#c1c1c1', GradientType=0); /* IE6-9 */

  font-size: 16px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 100px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 2px;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

@mixin link-style($color: #333, $color-hover: $color){
  text-shadow: 0px -1px rgba(255,255,255,0.5);
  &, &:hover, &:active, &:visited { color: $color !important; text-decoration: none !important; }
  &:hover, &:active{ color: $color-hover !important; text-decoration: none; }
}
// ==================
// Стили для главного шаблона


// ==================

// Ограничиваем область видимости,чтобы никак не повлиять на остальной сайт
.appointment-form {

  -webkit-font-smoothing: antialiased;

  font-family: 'Tahoma', 'Helvetica Neue', 'Arial', sans-serif;

  h2 {
    color: $purple;
    font: 52px/52px 'Conv_reformagroteskmedium', Tahoma;
    text-transform: uppercase;
    padding: 0 0 10px 0;
  }

  h3{
    margin-bottom: .2em;
    font-size: 28px;
    line-height: 1.2;

    &, a, a:active, a:hover, a:visited {
      color: #8174c9;
      text-decoration: none;
    }

    a:hover{ color:darken(#8174c9, 10); }
  }

  h4{
    margin-bottom: .2em;
    font-size: 28px;
    line-height: 1.2;
    display: inline-block;
    border-bottom: 1px dashed #797c80;

    &, a, a:active, a:hover, a:visited {
      color: #797c80;
      text-decoration: none;

    }

    a:hover{ color:darken(#797c80, 10); }
  }

  .h-group{
    margin-bottom: 40px;
    h3, h4 { display: inline-block; }
    h3 + h4,
    h4+ h3{ margin-left: .2em; }
  }

  p{
    color: #797c80;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 1.3em;
  }

  // внутри этого блока распологаем элементы формы, которые связаны друг с другом
  // например: заголовок и инпут к нему
  .form-group{
    margin-bottom: 40px;
  }

  // группировка текста по единому смыслу. имеет меньшие отступы нежели form-group
  .text-row {
    margin-bottom: 7px;
  }

  // ссылки
  .link {
    font-size: 14px;
    &, &:active, &:visited, &:hover { text-decoration: none; border-bottom: 1px solid #797c80; }
    &, &:active, &:visited { color: #797c80; }
    &:hover{ color: darken(#797c80, 10); }
  }

  .link-dashed{
    display: inline-block;
    &, &:active, &:visited, &:hover{ text-decoration: none; border-bottom: 1px dashed #797c80; }
  }

  // внутри этого блока распологаются органы управления, кнопки и подсказки к ним
  .btn-block {
    display: block;

    .btn + .info {
      margin-left: 20px;
    }
    .btn, .info {
      display: inline-block;
      vertical-align: middle;
    }
    .info {
      max-width: 150px;
      color: #999b9e;
      font-size: 12px;
    }
  }

  .btn {
    @extend %btn-bg;
    @include link-style();
  }

  .btn-success {
    background: #e8f28b; /* Old browsers */
    background: -moz-linear-gradient(top, #e8f28b 0%, #a7cc3a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8f28b), color-stop(100%, #a7cc3a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e8f28b 0%, #a7cc3a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e8f28b 0%, #a7cc3a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e8f28b 0%, #a7cc3a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e8f28b 0%, #a7cc3a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8f28b', endColorstr='#a7cc3a', GradientType=0); /* IE6-9 */

    &.m-inactive {
      @extend %btn-bg;
      @include link-style(#8a8a8a);
    }

    &.m-check-page {
      margin-left: 276px;
      font-weight: bold;
    }
  }

  .btn-big{ width: 100%; }


  $margin-between-inputs: 34px;
  input, textarea{
    font-size: 13px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    padding: .4em 1em;

    &:focus{
      border-color: transparent;
      box-shadow: 0 0 0 3px #dad3ff;
    }

    &[type="submit"]:focus{
      box-shadow: none;
    }
  }

  // отступы между активными инпутами
  input + input,
  input:first-child + input { margin-left: $margin-between-inputs; }
  input:focus + input { margin-left: $margin-between-inputs; }
  input + input:focus { margin-left: $margin-between-inputs - 1px; }

  // отступы между инпутами и селектами
  input + .select2-container,
  .select2-container + input,
  select + input,
  input + select,
  .select2-container + input:focus,{ margin-left: $margin-between-inputs/3; }
  .select2-container{ margin-bottom: 1px; }


  // колонки
  .col{
    display: inline-block;
    vertical-align: top;

    &.col-60{ width: 59.98%; }
    &.col-40{ width: 39.98%; }
  }


  // временной список с талонами.
  // отображает время и текст записаться
  .tickets-list{
    $color-green-rich: #bcd91f;

    border: 3px solid $color-green-rich;
    border-radius: 4px;
    display: inline-block;

    // ячейка с контентом
    label{
      border-bottom: 3px solid $color-green-rich;
      display: block;
      background-color: #f8fbe8;
      color: #505c66;
      font-family: 16px;
      cursor: pointer;
      width: 200px;

      // у последнего элемента скрываем подчеркивание,чтобы не вылезало за края общего блока
      &:last-child{ border-bottom: 0; }

      input{ display: none; }

      // дефолтные состояния для текстовых блоков
      .tickets-list-ticket-alt-text {
        background-color: $color-green-rich;
        display: none;
        color: #333333;
        font-weight: bold;
        text-align: center;
      }

      .tickets-list-ticket-alt-text, .tickets-list-ticket-info{ padding: 7px 14px; line-height: 1.5; }

      &:hover{
        .tickets-list-ticket-alt-text { display: block; }
        .tickets-list-ticket-info { display: none; }
      }
    }
  } // конец временного списка с талонами



  // календарь
  .calendar{
    display: inline-block;

    // шапка календаря с названием месяца и кнопками переключения
    .calendar-header{
      background-color: #8174c9;
      border-radius: 4px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      padding: 15px 10px;

      a {
        display: block;
        &, &:hover, &:visited, &:active {
          text-decoration: none;
        }
        &, &:visited, &:active {
          color: #fff;
        }
        &:hover {
          color: #43387f;
        }
      }
      // padding делаем не равные, т.к.кнопки расположены в противоположных краях
      // они нужны,чтобы облегчить попадание курсора на кнопку
      a:first-child{ float: left; padding: 0 7px 0 2px; }
      a:last-child{ float: right; padding: 0 2px 0 7px; }
    }

    // тело календаря с датами
    .calendar-body{
      border: 3px solid #bcd91f;
      font-size: 16px;
      font-weight: bold;
      background-color: #f8fbe8;
      padding: 10px;
      &, & a{
        &, &:hover, &:visited, &:active{
          color: #444953;
          text-decoration: none;
        }
      }
    }

    // стили ячеек с числами дат
    tr, td{ background-color: #f8fbe8; text-align: center; }
    td{ padding: 2px 4px; }
    td div { padding: 5px; }
    .notmonth{ color: #a4a4a4; }
    .with_tickets{ background-color: #d7e688; }
    .active .with_tickets{
      background-color: #a7bf1b;
      &, a, a:hover, a:visited, a:active{ color: #fff; }
    }
  } // окончание календаря


  // поле с текстом подтверждения заявки
  .confirm-box{
    background-color: #f8fbe8;
    border-radius: 12px;
    padding: 30px;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 24px;

    .label{ font-weight: bold; display: inline-block; margin-right: .5em; }
    .info{
      display: inline-block;
      b { color: #6d66ba; }
      &.m-big { font-size: 22px; }
      &.m-purple { font-weight: bold; }
    }

    // ссылки внутри блока с подтверждением
    .link{
      &, &:hover, &:visited, &:active{ border-bottom: none; }
      .fa{ font-size: 2em; color: #bcd91f; vertical-align: sub; }
      .fa + span{ border-bottom: 1px solid #797c80; margin-left: 10px; }
    }

    .link-dashed{
      .fa + span{ border-bottom: 1px dashed #797c80; }
    }


    // взаимное расположение ссылок
    .link + .link { margin-left: 50px; }

    &.m-bordered {
      border: 3px solid $green-rich;
    }
  }

  // ссылка под блоком подтверждения,
  // она имеет отступ и выравнена по границе текста в блоке подтверждения
  .under-confirm-box{
    margin-left: 30px;
    display: block;
    &, &:hover, &:active, &:visited{ color: #797c80; }
  }

  // шаги оформления талона вверху страницы
  .steps
  {
    $active-txt-color: #7165bb;
    $active-border-color: $green-rich;
    $active-bg-color: #f8fbe8;

    $default-txt-color: #c8c8c8;
    $default-border-color: #c8c8c8;
    $default-bg-color: #fafafa;

    // чтобы центральный пункт был посередине блока
    // остальные два имеют float: right|left
    text-align: center;

    margin: 15px 0 30px;

    .step{
      position: relative;
      display: inline-block;
      font-size: 16px;
      padding: 15px 20px;
      color: $default-txt-color;
      background-color: $default-bg-color;
      border: 3px solid $default-border-color;
      border-radius: 12px;

      // активный пункт
      &.m-active{
        color: $active-txt-color;
        background-color: $active-bg-color;
        border-color: $active-border-color;

        // полоса справа от активного блока
        &:after{
          background-color: $active-border-color
        }
      }

      // полоса справа от пункта
      &:after{
        background-color: $default-border-color;
        position: absolute;
        content: ' ';
        width: 250px;
        height: 3px;
        top: 50%;
        left: 100%;
        z-index: -2;
      }

      // полосу справа от последнего пункта скрываем
      &.right{
        &:after{ height: 0; }
      }
    }
  }

  // блок под кнопку назад
  .back-btn{
    margin-bottom: 30px;
    .link{ font-size: 12px; }
  }

  // таблица на странице просмотра талонов
  .table{
    width: 100%;

    // заголовок таблицы
    tr > th {
      background-color: #f8fbe8;
      color: #8174c9;
      font-size: 16px;
      text-align: left;
      vertical-align: top;
      padding: 10px 20px;
    }

    // ячейки с контентом
    tr{
      > td {
        color: #555555;
        font-size: 13px;
        vertical-align: top;
        padding: 10px 20px;
        text-align: left;
      }
      &:nth-child(odd) > td { background-color: #f8fbe8; }
      &:nth-child(even) > td { background-color: #fff; }
    }

  }// конец .table


  // блок с выводом текстовой ошибки
  .error{
    color: #d05858;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.4;
  }

  .appointment-form__remove-appointment{
    position: relative;
  }

  .appointment-form__remove-appointment-icon{
    float: right;
    display: inline-block;
    background: image_url('cancel_icon.png') center center no-repeat;
    width: 13px;
    background-size: 13px;
    color: transparent;
    text-indent: -9999;

    &:hover {
      .appointment-form__remove-appointment-btn {
        display: block;
      }
    }
  }

  .appointment-form__remove-appointment-btn {
    &, &:focus, &:active, &:hover {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      margin-left: 0;
      cursor: pointer;
      background: #d05859;
      color: white;
    }
  }
}

// Список выбираемых докторов на третьем шаге записи
$el: '.checkable-doctors-list';
#{$el}, #{$el} li{
  list-style: none;
}

.js-checkable-doctors-loader {
  display: none;

  &.m-enabled {
    display: block;
  }
}

#js-call-doctor-home-coupons-success-container,
#js-call-doctor-home-coupons-failed-container{
  display: none;
}

$el: '.checkable-doctor';
$selected-color: #f8fbe8;
$success-color: #bcd91f;
$error-color: darken(#d05858, 10%);
$muted-color: #797c80;
$brand-color: #8175c9;
#{$el} {
  $ok-width: 1em;
  $left-margin: -.2em;
  font-size: 16px;
  padding: .4em 2em .4em .2em;
  margin-left: -.2em;
  display: inline-block;

  &.m-selected {
    background: $success-color;
    margin-left: $left-margin - $ok-width;
    border-radius: 2px;
    #{$el}__ok {
      display: inline-block;
      width: $ok-width;
    }
    &.m-available #{$el}__name {

      &, &:hover {
        color: $brand-color;
      }
    }
  }

  &.m-available {
    cursor: pointer;
    #{$el}__name {
      color: $success-color;
      font-weight: bold;

      &:hover {
        color: darken($success-color, 5%);
      }
    }
  }
  &.m-unavailable {
    cursor: default;
    #{$el}__name {
      color: $error-color;
    }
  }
}

#{$el}__ok {
  display: none;
  color: $brand-color;
}

#{$el}__radio {
  display: none;
}

#{$el}__name, #{$el}__availability {
  display: inline-block;
}

#{$el}__name + #{$el}__availability {
  margin-left: 1em;
}

#{$el}__availability {
  color: $muted-color;
  font-size: 12px;
}


// Блоки по 3 в ряд на странице /doctor-requests/person с телефонами
$el: '.district-info';
#{$el} {
  display: inline-block;
  width: 33%;

  #{$el}__title, #{$el}__phone {
    display: block;
  }
  #{$el}__title {
    color: #797c80;
    font-size: 14px;
  }
  #{$el}__phone {
    color: $purple;
    font-weight: bold;
  }
}
