.doctor-profile{
  width: 100%;
  margin-top: 2em;

  .doctor-avatar, .doctor-description{
    display: inline-block;
    vertical-align: top;
  }

  .doctor-avatar{
    width: 240px;
  }
  .doctor-description{
    width: 670px;
    padding-left: 40px;
    font-size: 14px;;
  }

  .doctor-appointment-link{
    color: #6d66ba;
    display: block;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f8fbe8;
    border: 3px solid #71bf44;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    margin-top: 1em;

    &:hover{
      background-color: darken(#f8fbe8, 5);
    }
  }

  .doctor-name{
    line-height: 1.3;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 2.3em;
  }

  .doctor-job, .doctor-resume {
    line-height: 1.3;
  }

  .doctor-job{
    padding-top: 1em;
  }

  .doctor-resume{
    padding-top: 2.5em;
  }

  .doctor-votes{
    padding-top: 1.5em;
  }

  .doctor-vote-btn, .doctor-votes-count{
    display: inline-block;
    vertical-align: middle;
  }

  .doctor-votes-count{
    margin-left: 20px;
    font-weight: bold;
  }

  .doctor-votes-icon, .doctor-vote-btn-icon {
    color: red;
    padding-left: .3em;
  }

  .doctor-vote-btn {
    padding: 0 1em;
    line-height: 2.3;
    background-color: red;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -ms-border-radius: 40px;

    &, &:hover, &:visited, &:active {
      text-decoration: none;
      color: white;
    }

    &:hover {
      background-color: rgba(230, 0, 0, 1);
    }

    .doctor-vote-btn-icon {
      color: white;
    }
  }

}