.doctors{
  width: 100%;
  $header-offset: 1em;

  // заголовок раздела
  .doctors-header{
    padding: 0 $header-offset;
  }

  // контейнер с карточками врачей
  .doctors-list{
    position: relative;
    margin-top: 2em;

    &.m-popup{
      position: absolute;
      padding: 20px;
      background: white;
      margin-top: 0;
      min-width: 510px;
      max-width: 930px;
      z-index: 1;
      box-shadow: 0 0 0 5px #eaedfc, 0 13px 15px -7px black;
      border-radius: 4px;
    }
  }

  // лоадер и оверлей для врачей
  .doctors-loader{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    z-index: 1;
    padding: 3em 0;

    transition: opacity .2s ease-in-out;
    opacity: 0.99;

    &.m-inactive{ opacity: 0.01; z-index: -1; }
  }

  // общий контейнер фильтрации врачей
  .doctors-filter{
    font-size: 14px;
    //padding: 0 $header-offset;
    margin-top: 2em;

    label{
      color: #999;
      padding-right: 1em;
    }
  }

  .doctors-filter-right, .doctors-filter-left{
    display: inline-block;
    width: 49.5%;
    vertical-align: middle;
  }

  // правая часть фильтра врачей с селектом
  .doctors-filter-right{
    &.m-text-right{
      text-align: right;
    }
  }

  // сам селект под отделения
  .doctors-filter-select{
    width: 200px;
    text-align: left;
    float: right;
  }

  // кнопка смены типа отрисовки
  .doctors-filter-view-type{
    cursor: pointer;
    background-color: #f8fbe8;
    padding: 0.5em 1.5em;
    border-radius: 10px;
    box-sizing: content-box;
    border: 3px solid #bcd91f;
    color: #756bc7;

    .fa { padding-right: .6em; }
  }

  .doctors__search{
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #eaedfc;
    box-shadow: 0 0 0 5px #eaedfc, inset 0 2px 10px -5px;
    color: #333;
    cursor: default;
    display: table;
    padding: 7px;
    font-size: 16px;
    outline: none;
    overflow: hidden;
    position: relative;
    background-image: image_url('search_icon.png');
    background-position: 97% center;
    background-repeat: no-repeat;
    background-size: 16px;
  }

  .doctors-vacancies-link-container {
    text-align: center;
  }
  .doctors-vacancies-link {
    color: transparent;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 30px;
    margin-top: 1em;
    padding: 0 1.3em;

    &:hover {
      opacity: .9;
    }
  }
}



//////////////////////////////////////////////
// Общие стили для карточки доктора
.doctor{
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;


  .doctor-image{
    z-index: 0;
    img{ width: 100%; height: 100%; }
  }

  .doctor-votes{
    position: absolute;
    font-size: 16px;
    color: white;
  }

  .doctor-link {
    display: block;
    height: 100%;
    width: 100%;

    &, &:hover, &:active, &:visited {
      text-decoration: none;
    }
  }

  .doctor-name{
    line-height: 1.2;
    font-weight: bold;
    padding-top: 1.3em;
  }

  .doctor-job{
    font-size: 14px;
    line-height: 1;
    padding-top: 1.3em;
  }

  .doctor-name, .doctor-job{
    text-align: center;
  }

  .doctor-vote-btn-icon {
    padding-left: .3em;
  }

  .doctor-vote-btn{
    position: absolute;
    left: 0;
    line-height: 2.3;
    background-color: red;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -ms-border-radius: 40px;

    text-align: center;
    width: 9.28em;
    margin-left: 1.42em;


    &, &:hover, &:visited, &:active{
      text-decoration: none;
      color: white;
    }

    &:hover{
      background-color: rgba(230, 0, 0, 1);
    }

    .doctor-vote-btn-icon{
      color: white;
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////
// Карточка доктора большая
.doctors-list.m-big .doctor {
  $offset: 20px;
  $heart-size: 14px;
  $width: 170px;
  $like-btn-size: 14px;
  $doctor-name-size: 14px;

  width: $width;
  height: 300px;
  //height: 248px;
  margin: 0 $offset $offset 0;

  &:nth-of-type(5n) {
    margin-right: 0;
  }

  .doctor-votes-icon{
    $icon-size: 1.2em;
    font-size: $heart-size;
    line-height: $icon-size;
    padding-right: $icon-size + .2em;
    color: #333;
    font-weight: bold;

    &.fa:before{
      position: absolute;
      right: 0;
      color: red;
      font-size: $icon-size;
    }
  }

  .doctor-votes {
    right: $offset/2;
    top: $offset/2;
  }

  .doctor-name, .doctor-job {
    padding: $offset/2 $offset 0;
  }

  .doctor-name {
    font-size: $doctor-name-size;
  }

  .doctor-vote-btn {
    font-size: $like-btn-size;
    top: $width - 40px;
  }

  .doctor-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .doctor-link{
    padding-top: $width;

    &:hover {
      .doctor-name, .doctor-job {
        color: #000;
      }
    }
  }

  .doctor-name, .doctor-job {
    color: #555;
    text-decoration: none;
  }



  //////////////////////////////////
  // HOVER эффект карточки
  //&:hover {
  //  .doctor-overlay {
  //    opacity: 0.99;
  //    z-index: 1;
  //  }
  //  .doctor-votes {
  //    display: none;
  //  }
  //}
}

// Карточка доктора маленькая
.doctors-list.m-minithumb .doctor {
  $offset: 5px;
  $width: 80px;
  $like-btn-size: 8px;
  $doctor-name-size: 8px;

  width: $width;
  height: $width;
  //height: 116px;
  margin: 0 $offset $offset*3 0;

  .doctor-overlay {
    opacity: 0;
    z-index: -1;
    transition: opacity, .2s;
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 120, 0.7);
    text-align: center;
  }

  &:nth-of-type(11n) {
    margin-right: 0;
  }

  .doctor-votes {
    right: $offset;
    bottom: $offset;
  }

  .doctor-name, .doctor-job {
    padding: 8px $offset 0;
    font-weight: normal;
  }

  .doctor-name, .doctor-job {
    font-size: $doctor-name-size;
    color: white;
  }

  .doctor-vote-btn {
    font-size: 7px;
    margin-left: 1.2em;
    bottom: 0.71em;
  }

  .doctor-image{
    position: absolute;
  }

  .doctor-votes-icon {
    color: red;
  }

  .doctor-votes-icon {
    font-size: 20px;
    margin-left: .3em;
    position: relative;

    // маленькая цифра внутри сердечка
    .doctor-votes-icon-txt {
      position: absolute;
      left: 0;
      top: 0;
      line-height: 1.8;
      width: 100%;
      text-align: center;
      font-size: .5em;
      color: white;
    }
  }

  //////////////////////////////////
  // HOVER эффект карточки
  &:hover {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);

    z-index: 99;
    transition: all .1s ease-in-out;

    .doctor-overlay {
      opacity: 0.99;
      z-index: 1;
    }
    .doctor-votes {
      display: none;
    }
  }
}