.external-sidebar-link{
  position: fixed;
  right: 0;
  top: 40%;
  background: #71bf44;
  text-transform: uppercase;
  font-size: 9px;
  padding: 4px;
  width: 140px;
  text-align: center;
  font-weight: bold;
  line-height: 1.4;
  border-radius: 5px 0 0 5px;

  &, &:hover, &:active, &:visited, & span{
    color: white;
    text-decoration: none !important;
  }

  @media all and (max-width: 1200px) {
    & {
      right: -130px;
      transition: right .2s ease-in-out;

      &:hover, &:active{
        right: 0;
      }
    }
  }
}