.b-group-list{
  padding-left: 16px;
  background: image-url('clinics.png') left top no-repeat;
  margin-bottom: .5em;
}

.b-group-list-item1{
  background-position: 0 5px;
}

.b-group-list-item2{
  background-position: 0 -30px;
}

.b-group-list-item3{
  background-position: 0 -65px;
}

.b-group-list-item4 {
  background-position: 0 -100px;
}

.b-group-list-item5 {
  background-position: 0 -135px;
}

.b-group-list-item6 {
  background-position: 0 -205px;
}

.b-group-list-item7 {
  background-position: 0 -170px;
}

.b-group-list-item-vk,
.b-group-list-item-fb,
.b-group-list-item-ok,
.b-group-list-item-inst{
  background: image-url('social-networks.png') left top no-repeat;
  opacity: 0.9;
  margin: 0;
  margin-bottom: 0.4em;
  padding: 0;

  width: 32px;
  height: 32px;
  display: block;

  text-decoration: none;
  cursor: pointer;

  &:hover, &:active{
    opacity: 1;
  }

}
.b-group-list-item-ok {
  background-position: 0 0;
}

.b-group-list-item-vk {
  background-position: 0 -32px;
}

.b-group-list-item-fb {
  background-position: 0 -64px;
}

.b-group-list-item-inst {
  background-position: 0 -96px;
}

