$margin-top: 35px;
$green-rich: #71bf44;

#header {
  height: 130px;
  margin: 0 auto;
  position: relative;
  width: 950px;
}

#header .logo {
  background: url(logo.png) no-repeat;
  height: 47px;
  overflow: hidden;
  position: absolute;
  top: $margin-top + 9px;
  text-indent: -1000px;
  width: 185px;
  display: block;
}

#header .phone,
#header .appoint,
#header .cancel-appoint,
#header .request {
  background: #f8fbe8 no-repeat 20px center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #7b5ea1;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  position: absolute;
  text-transform: uppercase;
  top: $margin-top;
  padding: 10px 15px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

#header .phone {
  right: 0;
}

#header .full {
  z-index: 50;
  height: auto;
  padding-bottom: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#header .phone .p-number,
#header .phone .p-notice {
  display: block;
}

#header .phone .p-notice,
#header .phone p{
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
}

#header .appoint,
#header .cancel-appoint,
#header .request {
  background: #f8fbe8 url(write-bg.png) repeat-x 0 -60px;
}

#header .appoint,
#header .request {
  padding-left: 0;
}

#header .cancel-appoint {
  right: 328px;
}

#header .appoint {
  right: 444px;
}

#header .appoint.m-right {
  right: 175px;
}

#header .request {
  right: 175px;
}

// активная кнопка «записаться к врачу» в шапке сайта
#header .appoint.m-active,
#header .cancel-appoint.m-active,
#header .request.m-active {
  box-shadow: 0 0 0 3px $green-rich inset;
}


#header .appoint:hover,
#header .cancel-appoint:hover,
#header .request:hover {
  background-position: 0 0;
}

#header .appoint span {
  background: url(write-ico.png) no-repeat 10px center;
  display: block;
  padding-left: 50px;
}

#header .request span {
  display: block;
  padding-left: 10px;
}

#header .location-selector {
  position: absolute;
  left: 197px;
  top: $margin-top + 25px;
}