$el: '.load-more';


#{$el}__pagination-container {
  display: none;
}

#{$el}__btn {
  color: #6d66ba;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f8fbe8;
  border: 3px solid #71bf44;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
  margin-top: 1em;
  padding: 0 1.3em;
  cursor: pointer;

  &:hover {
    background-color: darken(#f8fbe8, 5);
  }
}