/* address selector */
.location-selector {
  border: 2px solid #71bf44;
  //width: 130px;
  background: #fff url(jClever-element-select-right.jpg) no-repeat right center;
  height: 23px;
}

a.curr-selector-label, a.curr-selector-label:link, a.curr-selector-label:visited {
  display: block;
  padding: 3px 30px 3px 2px;
  max-width: 170px;
  height: 20px;
  color: #555;
  font-size: 0.8em;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.selector-list {
  display: none;
  position: absolute;
  z-index: 100;
  left: 0px;
  top: 24px;
  width: 300px;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.selector-list li {
  height: 26px;
  border-bottom: 1px solid #f5f5f5;
  list-style-type: none;
}

.selector-list a, .selector-list a:link, .selector-list a:visited {
  display: block;
  padding: 0px 0px 0px 10px;
  font: 13px/26px Tahoma;
  color: #555;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.selector-list li:hover {
  background: #f2ffd9;
  border-bottom: 1px solid #fff;
}

//.selector-list li.address__selector-selected {
//  background: #f2ffd9 url(address__selector_selected.png) no-repeat 492px 6px;
//  border-bottom: 1px solid #fff;
//}

.address-open .selector-list {
  display: block;
}

.choose-location-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 7;
}