/* reset */
body, label, a, em, b, i, ol, ul, li, div, p, form, span, h1, h2, h3, h4, h5, dl, dd, dt, small, strong, img, del { padding: 0px; margin: 0px; border: none; }
h1,h2,h3,h4,h5 {font-weight: normal;}
form { padding: 0; margin: 0 }
table  { border-collapse: collapse; border-spacing: 0; }
td { padding: 0px;  vertical-align:top; }
input, a { outline: none; }
.clear { clear: both; font-size: 0px; line-height: 0px; height: 0px; overflow:hidden; }
.clear-r { clear: right; }
.clear-l { clear: left; }
.clearfix { zoom: 1; }
.clearfix:after { content: ' '; clear: both; display: block; width: 0; height: 0; overflow: hidden; font-size: 0; }

.left{float: left;}
.right{float: right;}

a, a:link, a:visited{text-decoration: underline; color: #6d8ded;}
a:hover{text-decoration: none; }

* {
	font-family: Tahoma, Verdana, Arial, sans-serif;
}

/* fonts */
@font-face {
	font-family: 'Conv_reformagroteskmedium';
	src: url('reformagroteskmedium.eot?');
	src: local('☺'), url('reformagroteskmedium.ttf') format('truetype'), url('reformagroteskmedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_reformagroteskdemi';
	src: url('reformagroteskmedium.eot?') format('eot');
	src: local('☺'), url('reformagroteskmedium.ttf') format('truetype'), url('reformagroteskmedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_PFDinTextCondPro-Light';
	src: url('PFDinTextCondPro-Light.eot?');
	src: local('☺'), url('PFDinTextCondPro-Light.woff') format('woff'), url('PFDinTextCondPro-Light.ttf') format('truetype'), url('PFDinTextCondPro-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_PFDinTextCondPro-Regular';
	src: url('PFDinTextCondPro-Regular.eot?');
	src: local('☺'), url('PFDinTextCondPro-Regular.woff') format('woff'), url('PFDinTextCondPro-Regular.ttf') format('truetype'), url('PFDinTextCondPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/** Generated by FG **/
@font-face {
	font-family: 'Conv_PFDinDisplayPro-Med';
	src: url('PFDinDisplayPro-Med.eot?');
	src: local('☺'), url('PFDinDisplayPro-Med.woff') format('woff'), url('PFDinDisplayPro-Med.ttf') format('truetype'), url('PFDinDisplayPro-Med.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'pf_dindisplay_proregular';
    src: url('pfdindisplaypro-regular-webfont.eot?');
    src: local('☺'), url('pfdindisplaypro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-regular-webfont.woff') format('woff'),
         url('pfdindisplaypro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_sans_narrow_boldregular';
    src: url('pt_sans_narrow_bold_regular-webfont.eot?');
    src: local('☺'), url('pt_sans_narrow_bold_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pt_sans_narrow_bold_regular-webfont.woff') format('woff'),
         url('pt_sans_narrow_bold_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body {
	min-height: 100%!important;
	height: 100%;
}

#container {
	min-height: 100%;
	_height: 100%;
}

/* application */
.body{width: 950px; margin: 0px auto; font: 12px/14px Tahoma; color: #505c66; padding-bottom: 170px;}
.body__data{float: right; width: 700px; position: relative;}
.body__data-left{float: left; width: 620px; position: relative;}
.body__right{float: right; width: 220px; padding: 84px 0px 0px 0px;}

/* header */
.header{background: #9a95c8; height: 100px;}
.header__inner{width: 760px; margin: 0px auto; position: relative; padding: 27px 0px 0px 180px; height: 73px;}
.header__logo{width: 131px; height: 41px; background: url(header__logo.png) no-repeat; display: block; position: absolute; left: 0px; top: 30px;}
.header__logo span{display: none;}
.header__menu li{float: left; margin: 0px 7px 0px 0px; height: 41px;}
.header__menu a, .header__menu a:link, .header__menu a:visited{padding: 0px 20px 0px 20px; text-decoration: none; display: block; height: 34px; border: 3px solid #9a95c8; font: 18px/34px 'Conv_PFDinDisplayPro-Med', Arial; color: #fff}
.header__menu a:hover, .header__menu .header__menu-selected a, .header__menu .header__menu-selected a:link, .header__menu .header__menu-selected a:visited{border-color: #71bf44; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;}

.header__phone{position: absolute; right: 0px; top: 37px; padding: 0px 0px 0px 32px; background: url(header__phone.png) no-repeat 0px 2px; color: #fff; font: 16px/17px 'Conv_PFDinTextCondPro-Light', Tahoma;}
.header__phone b{display: block; font: 24px/24px 'Conv_PFDinDisplayPro-Med', Tahoma; text-shadow: 0px 1px 2px #5b53a6; padding: 0px 0px 4px 0px;}

/* footer */
.footer{margin: 0px 0px 0px 0px; background: #fafafa; padding: 35px 0px 0px 0px; bottom: 0px; left: 0px; right: 0px; min-height: 200px; position: relative; margin-top: -160px;}
.footer-inner{width: 950px; margin: 0px auto; position: relative;}

.footer__section{float: left; width: 324px;}
.footer__section.m-search{width: 300px;}
.footer__section.m-ext-links{width: 360px;}
.footer__section.m-last{width: 290px; height: 190px;}

.footer__copy{font: 14px/21px Tahoma; color: #505c66; padding: 0px 0px 20px 0px; }
.footer__search{width: 210px; height: 27px; padding: 5px 0px 0px 10px; background: url(footer__search.png) no-repeat; position: relative;}
.footer__search-input{border: none; display: block; height: 20px; font: 12px/20px Tahoma; color: #505c66; padding: 0px; margin: 0px; width: 170px; background: none;}
.footer__search-submit{position: absolute; width: 30px; height: 25px; display: block; right: 8px; top: 3px; }

.footer__menu {
	float: left;
	width: 145px;
}

.footer__menu.m-center{
    padding-left: 50px;
    width: 95px;
}

.footer__menu.m-block {
    float: none;
    clear: both;
    width: auto;
}

.footer__address {
    clear: both;
    width: 950px;
    margin: 0 auto;
    position: relative;
}


.jci__logo,
.jci__logo:hover,
.jci__logo:focus,
.jci__logo:visited {
    padding: 10px 20px 5px;
    text-decoration: none !important;
    color: #22418c;
    display: block;
    width: 190px;
    margin-top: 100px;
}

.jci__logo:hover {
    background: #e1dfef;
    display: block;
}

.jci__logo img {
    width: 160px;
}

.jci__logo span {
    color: #22418c;
    display: none;
    text-decoration: none;
}

.jci__logo:hover span {
    padding-top: 10px;
    display: block;
}



.footer__section.m-ext-links .footer__menu{
    width: 175px;
}


.footer__menu li {list-style-type: none;}
.footer__menu a,
.footer__menu a:link,
.footer__menu a:visited,
.footer__menu p{font: 12px/14px Tahoma; color: #505c66; text-decoration: none;}
.footer__menu a:hover{text-decoration: underline;}

.footer__menu p{margin-bottom: 1em;}

a.footer__logo, a.footer__logo:link, a.footer__logo:visited{position: absolute; right: 0px; top: 0px; width: 89px; padding: 40px 0px 0px 0px; background: url(footer__logo.png) no-repeat; font: 12px/14px Tahoma; color: #505c66; text-align: center; text-decoration: none;}

.euromed__logo {
	display: block;
	width: 115px;
	height: 86px;
	background: url('EG_logo.png') 0 0;
	text-indent: -99999px;
	float: right;
}

.euromed__logo:hover {
	background-position: bottom;
}

/* left */
.body__left{float: left; width: 220px; padding: 0; position: relative;}

#scroll-menu {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

.left__menu-title{color: #919599; font: 16px/24px 'Conv_PFDinTextCondPro-Regular', Tahoma; padding: 31px 0px 9px 0px;}
.left__menu li{padding: 0px 0px 9px 15px; position: relative; left: -15px; list-style-type: none;}
.left__menu li.left__menu-selected{background: url(left__menu_selected.png) no-repeat 0px 5px; }
.left__menu a, .left__menu a:link, .left__menu a:visited{color: #6d8ded; font: 16px/24px 'Conv_PFDinTextCondPro-Regular', Tahoma; text-decoration: none; line-height: 1.3;}
.left__menu a:hover{text-decoration: underline;}

.left__menu li
.left__menu .left__menu-selected a , .left__menu .left__menu-selected a:link, .left__menu .left__menu-selected a:visited{color: #1d2932; text-decoration: none;}



/* text block */
.text{padding: 20px 0px 40px 0px; margin-bottom: 30px; border-bottom: 1px dotted #dedede; color: #797c80; font: 14px/16px Tahoma;}
.text :last-child{border-bottom: none !important; padding-bottom: 0px;}
.text ul {padding-left: 20px}
.text ol {padding-left: 20px}
/*.text p {
	margin-top: 3px;
	margin-bottom: 3px;
}*/
.text__last{padding-bottom: 200px;}
.text__noline{border: none;}
.text__title{color: #756bc7; font: 52px/52px 'Conv_reformagroteskmedium', Tahoma; text-transform: uppercase; padding: 0px 0px 30px 0px;}
.text__subtitle{color: #6d8ded; font: 32px/32px 'Conv_PFDinTextCondPro-Light', Tahoma; padding: 0px 0px 10px 0px;}
.text__image{display: block; padding: 0px 0px 20px 0px;}
.text p{padding: 0px 0px 20px 0px; line-height: 1.4;}
a.text__button-register, a.text__button-register:link, a.text__button-register:visited{margin: 20px 0px 20px 0px; display: block; width: 183px; height: 35px; background: url(text__button_register.png) no-repeat; text-decoration: none;}
a.text__button-register:hover{background-position: 0px -35px;}
a.text__button-register:active{background-position: 0px -70px;}
.text__button-register span{display: none;}



/* bulb */
.bulb{position: absolute; left: 0px; top:0px; width: 183px; height: 13px; background: url(bulb.png) no-repeat;}

/* left news */
.left__news {padding: 0;}
.left__news label{font: 16px/24px 'Conv_PFDinTextCondPro-Regular', Tahoma; color: #797c80; }
.left__news .left__news-selected label{color: #1d2932;}
.left__news-section{padding: 0px 0px 20px 0px;}


.left__news-item {margin: 8px 0px 0px 0px;}
.left__news-radio{float: left; display: block; font: 16px/24px 'Conv_PFDinTextCondPro-Regular', Tahoma; color: #797c80; margin: 4px 6px 0px 0px;}
.left__news-check{float: left; margin: 4px 6px 0px 16px; display: block; font: 16px/24px 'Conv_PFDinTextCondPro-Regular', Tahoma; color: #797c80; }

/* news */
.news__title{color: #756bc7; font: 52px/52px 'Conv_reformagroteskmedium', Tahoma; text-transform: uppercase; padding: 50px 0px 36px 0px;}

.news li{padding: 0px 0px 80px 0px; background: url(news.png) no-repeat left bottom; list-style-type: none;}
.news__item-top{height: 160px; position: relative; padding: 0px 0px 0px 160px;}
.news__item-image{position: absolute; left: 0px; top: 0px; width: 135px; height: 143px; padding: 1px 0px 0px 1px; background: url(news__item_image.png) no-repeat;}
.news__item-top a, .news__item-top a:link, .news__item-top a:visited{display: block; color: #6d8ded; font: 32px/32px 'Conv_PFDinTextCondPro-Light', Tahoma; text-decoration: none; }
.news__item-top span{display: block; color: #aaaeb2; font: 14px/26px Tahoma;}
.news p{color: #797c80; font: 16px/18px Tahoma; padding: 0px 0px 10px 0px;}

a.news__item-open { display: inline-block; width: 30%; }
a.news__item-open, a.news__item-open:link, a.news__item-open:visited{color: #6d8ded; font: 14px/18px Tahoma;}
a.news__item-open:hover{color: #756bc7; text-decoration: underline;}

.news__item-share{ display: inline-block; width: 68%; text-align: right; }
.news__item-share a {color: #aaaeb2; }
/* pagination */
.pagination{padding: 60px 0px 60px 0px;}
.pagination a, .pagination a:link, .pagination a:visited, .pagination span{padding: 0px 2px 0px 0px; width: 25px; height: 27px; display: block; margin: 0px 4px 0px 0px; float: left; text-align: center; font: 12px/25px Tahoma; color: #717171; text-decoration: none;}
.pagination a, .pagination a:link, .pagination a:visited{background: url(pagination__item.png) no-repeat;}
.pagination a.pagination__arrow, .pagination a.pagination__arrow:link, .pagination a.pagination__arrow:visited{color: #756bc7;}
.pagination a:hover{background-position: 0px -27px;}
.pagination a.pagination__selected, .pagination a.pagination__selected:link, .pagination a.pagination__selected:visited{color: #f2f2f2; background-position: 0px -54px; width: 25px;}

/* news other */
.othernews__title{width: 220px; height: 50px; background: url(othernews2.png) no-repeat;}
.othernews__title-department{width: 220px; height: 50px; background: url(othernews.png) no-repeat;}
.othernews__list li{border-bottom: 1px dotted #6d8ded; padding: 0px 0px 7px 0px; margin: 0px 0px 30px 0px; list-style-type: none;}
.othernews__list li.othernews__list-last{border: none;}
.othernews__list span{color: #aaaeb2; font: 12px; display: block; line-height: 130%;}
.othernews__list a, .othernews__list a:link, .othernews__list a:visited{font-size: 14px; color: #6d8ded; text-decoration: none; line-height: 130%;}
.othernews__list a:hover {color: #756bc7; text-decoration: underline;}

/* newsdata */
.newsdata{padding: 27px 0px 40px 0px; font: 16px/18px Tahoma; color: #797c80;}
a.newsdata__back, a.newsdata__back:link, a.newsdata__back:visited{background: #9a95c8; display: block; height: 24px; float: left; padding: 0px 14px; margin: 0px 0px 30px 0px; color: #fff; font: 14px/24px Tahoma; text-decoration: none;}
a.newsdata__back:hover{background: #71bf44;}
.newsdata__title{font: 32px/32px 'Conv_PFDinTextCondPro-Light', Tahoma; color: #6d8ded;}
.newsdata__subtitle{font: 14px/26px Tahoma; color: #aaaeb2; display: block; padding: 0px 0px 35px 0px;}
.newsdata__image{width: 135px; height: 143px; padding: 1px 0px 40px 1px; background: url(news__item_image.png) no-repeat;}
.newsdata p{padding: 0px 0px 10px 0px;}
a.newsdata__top, a.newsdata__top:link, a.newsdata__top:visited{padding: 10px 0px 0px 34px; width: 64px; height: 42px; display: block; position: absolute; right: -138px; bottom: 10%; background: url(newsdata__top.png) no-repeat; color: #6d8ded; font: 18px/18px Tahoma; text-decoration: none}


.newsdata-share{ margin-top: 1em; margin-left: -6px; }
.newsdata-share a{ color: #aaaeb2; }


a.up-link{z-index: 10; padding: 10px 0px 0px 34px; width: 64px; height: 42px; display: none; position: fixed; bottom: 40px; right: 20px; background: url(newsdata__top.png) no-repeat; color: #6d8ded; font: 18px/18px Tahoma; text-decoration: none}

/* response menu */
.response__menu{padding: 0px 0px 0px 0px;}
.response__menu a, .response__menu a:link, .response__menu a:visited{display: block; margin: 0px 0px 12px 0px; padding: 0px 0px 0px 12px; width: 150px; height: 38px; font: 14px/38px Tahoma; color: #fff; text-decoration: none; }
.response__menu a:hover{background-position: 0px -38px;}
.response__menu a:active{background-position: 0px -76px;}
.response__menu a span{display: none;}
.response__menu-up{background-image: url(response__up.png);}
.response__menu-down{background-image: url(response__down.png);}
.response__menu-write{background-image: url(response__write.png);}

/* response list */
.response__title{color: #756bc7; font: 52px/52px 'Conv_reformagroteskmedium', Tahoma; text-transform: uppercase; padding: 54px 0px 70px 0px;}

.responses li{padding: 0px 0px 120px 0px; background: url(news.png) no-repeat left bottom; list-style-type: none;}
.responses b{display: block; font: 32px/34px 'Conv_PFDinTextCondPro-Light', Tahoma; color: #6d8ded; height: 34px; }
.responses span{font: 14px/16px Tahoma; color: #aaaeb2; display: block; padding: 0px 0px 10px 0px;}
.responses p{font: 16px/18px Tahoma; color: #797c80; }

/* shadow */
#shadow{background-color: #999999; position: fixed; opacity: 0.9; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90); left: 0px; top: 0px; bottom: 0px; right: 0px; z-index: 50;}

/* address */
.address{padding: 0;}
.address__top{height: 70px; position: relative;}
.address__info{width: 300px; height: 30px; top: 0px; right: 0px; position: absolute; color: #555; font: 14px/16px Tahoma; padding: 0px 20px 0px 40px; background: url(address__top_info.png) no-repeat 0px 4px;}

.address__map{height: 400px; position: relative; border: 1px solid #7a97f1;}
a.address__map-expand, a.address__map-expand:link, a.address__map-expand:visited{font: 12px/12px Tahoma; color: #999; position: absolute; display: block; right: 0px; bottom: -20px; z-index: 50;}

.address__bottom{padding: 11px 0px 0px 400px; position: relative; font: 14px/27px Tahoma; color: #555; height: 110px;}
a.address__bottom-register, a.address__bottom-register:link, a.address__bottom-register:visited{position: absolute; left: 0px; top: 11px; background: url(address__bottom_register.png) no-repeat; display: block; width: 300px; height: 55px; text-decoration: none;}
a.address__bottom-register:hover{background-position: 0px -55px}
a.address__bottom-register:active{background-position: 0px -110px}
.address__bottom-register span{display: none;}

.address_right{float: right; width: 220px;}

/* old doctors */
/*.doctors{width: 650px; float: left; position: relative; left: -15px;}*/
/*.doctor{border-bottom: 1px dotted #71bf44; padding: 0px 0px 25px 15px; margin: 0px 0px 20px 0px; list-style-type: none;}*/
.doctor_inner{position: relative; padding: 0px 0px 0px 160px;}
.doctor_inner-image{position: absolute; left: 0px; top: 0px; width: 135px; height: 143px; padding: 1px 0px 0px 1px; background: url(news__item_image.png) no-repeat;}
.doctor__last{border: none;}
.doctor__name{display: block; color: #6d8ded; font-size: 22px; font-weight: normal;}
.doctor__info{display: block; font: 14px/16px Tahoma; color: #aaaeb2; padding: 10px 0px 20px 0px;}
.doctor__hours{font: 16px/18px Tahoma; color: #797c80; display: block; position: relative; padding: 0px 0px 20px 70px; min-height: 40px;}
.doctor__hours em{position: absolute; left: 0px; top: 0px; font: bold 16px/18px Tahoma; color: #797c80;}
.doctor__hours i{color: #c96e03; font: bold 16px/18px Tahoma; }
.doctor__dosie {font: 16px/18px Tahoma; color: #797c80; display: block; position: relative; padding: 0px 0px 10px 50px;}
.doctor__dosie em{position: absolute; left: 0px; top: 0px; font: bold 16px/18px Tahoma; color: #797c80;}
.doctor__dosie a{text-decoration: none; border-bottom: 1px dotted #6d8ded;}
.doctor__dosie a:hover{border-bottom: none;}
.nl-other-text {margin-bottom: 20px; display: none;}
.doctor_inner.nl-active .nl-other-text {display: inline}

a.doctor__register, a.doctor__register:link, a.doctor__register:visited{font: 14px/18px Tahoma; color: #555; font-weight: bold;}
a.doctor__register:hover{text-decoration: underline;}

/* address selector */
.address__selector{background: url(address__selector.png) no-repeat; width: 539px; height: 43px; position: relative;}
a.address__selector-label, a.address__selector-label:link, a.address__selector-label:visited{display: block; padding: 3px 0px 0px 19px; width: 520px; height: 40px; font: 13px/37px Tahoma; color: #555; text-decoration: none;}
.address__selector-list{display: none; position: absolute; z-index: 100; left: 8px; top: 37px; width: 521px; border: 1px solid #e0e0e0; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #fff;}
.address__selector-list li{height: 26px; border-bottom: 1px solid #f5f5f5; list-style-type: none;}
.address__selector-list a, .address__selector-list a:link, .address__selector-list a:visited{display: block; padding: 0px 0px 0px 10px; font: 13px/26px Tahoma; color: #555; text-decoration: none;}
.address__selector-list li:hover{background: #f2ffd9; border-bottom: 1px solid #fff;}
.address__selector-list li.address__selector-selected{background: #f2ffd9 url(address__selector_selected.png) no-repeat 492px 6px; border-bottom: 1px solid #fff;}
.address-open .address__selector-list{display: block;}

/* start */
.start{width: 940px; height: 378px; background: url(start.png) no-repeat; position: relative; left: -4px; padding: 4px 4px 35px 4px; margin: 23px 0px 0px 0px;}
.start__inner{height: 330px; margin: 0px 0px 21px 0px; position: relative;}

/* start info slider */
.start__info{width: 700px;  position: relative; height: 330px;}
.start__info-title{color: #505c66; font: 52px/52px 'Conv_reformagroteskmedium'; text-transform: uppercase; padding: 0px 0px 25px 0px;}
.start__info-text{color: #0056a5; font: 23px/28px 'Conv_PFDinTextCondPro-Regular'; padding: 0px 0px 20px 0px;}
a.start__info-link, a.start__info-link:link, a.start__info-link:visited{padding: 0px 0px 0px 20px; background: url(start__info_link.png) no-repeat 0px 4px; display: block; position: absolute; left: 50px; bottom: 60px; color: #6d8ded; font: 16px/18px 'Conv_PFDinTextCondPro-Regular';}

.start__info-data{height: 290px; width: 600px; padding: 40px 50px 0px 50px; position: absolute; left: 0px; top: 0px; display: none;}
.start__info-data-show{display: block;}

.start__info-data-sm-i2{background: url(start__info_data_i2.jpg) no-repeat;}

.start__menu{width: 240px; height: 300px; position: absolute; right: 0px; top: 0px;}
.start__menu li{height: 110px;}
.start__menu li:hover, .start__menu li.start__menu-selected{background: url(start__menu.png) repeat-x}
.start__menu-top{-webkit-border-top-right-radius: 6px; -moz-border-radius-topright: 6px; border-top-right-radius: 6px;}
.start__menu-bottom{-webkit-border-bottom-right-radius: 6px; -moz-border-radius-bottomright: 6px; border-bottom-right-radius: 6px;}
.start__menu a, .start__menu a:link,.start__menu a:visited{display: block; padding: 25px 0px 0px 55px; text-decoration: none; font: 12px/14px Tahoma; color: #000; position: relative;}
.start__menu a b{display: block; font: 20px/22px 'Conv_PFDinTextCondPro-Regular'; color: #000; padding: 0px 0px 2px 0px;}

.start__menu .i1{background: url(start__menu_i1.png) no-repeat 0px 0px; position: absolute; left: 20px; top: 27px; width: 23px; height: 25px;}
.start__menu li:hover .i1, .start__menu li.start__menu-selected .i1{background-position: 0px bottom;}
.start__menu .i2{background: url(start__menu_i2.png) no-repeat 0px 0px; position: absolute; left: 20px; top: 27px; width: 20px; height: 28px;}
.start__menu li:hover .i2, .start__menu li.start__menu-selected .i2{background-position: 0px bottom;}
.start__menu .i3{background: url(start__menu_i3.png) no-repeat 0px 0px; position: absolute; left: 20px; top: 27px; width: 24px; height: 22px;}
.start__menu li:hover .i3, .start__menu li.start__menu-selected .i3{background-position: 0px bottom;}

/* start info other */
.start__text-position{position: absolute; left: 645px; bottom: 7px; z-index: 200; display: block; width: 34px; height: 8px; background-image: url(start__text_position.png); background-repeat: no-repeat;}
.start__text-position-sm-i2{background-position: 0px -8px;}
.start__text-position-sm-i3{background-position: 0px -16px;}

.start__bottom{height: 25px; padding: 0px 4px 0px 0px;}
.start__bottom a.i1, .start__bottom a.i1:link, .start__bottom a.i1:visited{display: block; float: right; height: 25px; font: 14px/25px Tahoma; color: #000; padding: 0px 40px 0px 60px; background: url(reviews_form/start__bottom-i1.png) no-repeat right top;}
.start__bottom a.i2, .start__bottom a.i2:link, .start__bottom a.i2:visited{display: block; float: right; height: 25px; font: 14px/25px Tahoma; color: #000; padding: 0px 40px 0px 60px; background: url(reviews_form/start__bottom-i2.png) no-repeat right top;}

.start__text{color: #505c66; font: 18px 'Tahoma'; padding: 0px 0px 50px 0px;}

.start__faq {padding: 0px 0px 70px 0px;}
.start__faq li{width: 280px; overflow: hidden; margin-right: 25px; padding: 20px 0 0 20px; float: left; height: 123px; background: url(faq-link-bg.jpg) no-repeat;}
.start__faq li:hover {background-position: 0 -143px;}

.start__faq li.start__faq-item-last{margin-right: 0;}
.start__faq li span {
	color: #6d66ba;
	display: block;
	font-family: pt_sans_narrow_boldregular, Tahoma, Verdana, Arial, sans-serif;
	font-size: 21px;
	padding-bottom: 15px;
	text-transform: uppercase;
	white-space: nowrap;
}

.start__faq a {
	color: #000;
	font-size: 14px;
	line-height: 140%;
}
.start__news{overflow: hidden; padding: 0px 0px 90px 0px;}
.start__news-title{color: #797c80; font: 50px 'Conv_reformagroteskdemi', Tahoma; text-transform: uppercase; padding: 0px 0px 30px 0px;}
.start__news li{float: left; width: 304px; padding: 0px 19px 0px 0px; list-style-type: none;}
.start__news li.start__news-item-last{padding: 0px; list-style-type: none;}
.start__news li a, .start__news li a:link, .start__news li a:visited{color: #6d8ded; font: 16px pf_dindisplay_proregular, Tahoma, Verdana, Arial, sans-serif; display: block; padding: 0px 0px 10px 0px;} 
.start__news p{color: #797c80; font-size: 14px; line-height: 140%;}
a.start__news-all, a.start__news-all:link, a.start__news-all:visited{text-align: right; display: block; padding: 40px 0px 0px 0px;}
a.start__news-all {
	font-size: 14px;
	float: right;
	padding: 0!important;
}

.start__news ul {
	padding-bottom: 30px;
}

#feedback_error {
  text-align: center;
  margin: -20px 0 20px 0;
}

#feedback_error_description {
  margin: -20px 0 10px 0;
}

.feedback-error {
  color: #ff0000;
  font-size: 16px;
}

.error-border {
  border: 1px solid #ff0000 !important;
}

/* popupresponse */
.popupresponse{
    position: absolute;
    width: 650px;
    padding: 15px 25px 30px 25px;
    z-index: 300;
    font: 13px/16px Arial;
    color: #333;
    background: #f5f5f5;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    left: 50%;
    top: 100px;
    margin-left: -325px;
}


.popupresponse__title{height: 30px; font: 26px/30px Tahoma; color: #555555; padding: 0px 0px 0px 0px;}
.popupresponse__subtitle{color: #6d66ba; padding-top: .7em;}
.popupresponse__close{display: block; position: absolute; top: 20px; right: 20px; width: 16px; height: 16px; background: url(popupresponse__close.png) no-repeat;}
.popupresponse__close:hover{background-position: 0px -16px;}

.popupresponse__data{position: relative; padding: 40px 0 0 0; border-bottom: 1px solid #e2e9ef;}
.popupresponse__left{position: absolute; width: 220px; left: 0px; top: 40px;}
.popupresponse__left label{font: 13px/22px Arial;display: block; height: 22px; width: 60px; float: left;}
.popupresponse__left select{font: 13px/22px Arial;border: 1px solid #ccc; display: block; height: 22px; padding: 2px; width: 130px; float: left;}
.popupresponse__right{ padding-left: 250px; }

.popupresponse__line{height: 50px; padding: 0px 0px 0px 11px;}
.popupresponse__line-first{padding: 0px}
.popupresponse__line label{font: 13px/22px Arial; height: 22px; width: 60px; }
.popupresponse__line input{margin: 2px 10px 0px 0px; font: 13px/16px Arial;}
.popupresponse__line select{font: 13px/22px Arial;border: 1px solid #ccc; display: block; height: 22px; padding: 2px; width: 320px; float: right;}

a.popupresponse__line-add, a.popupresponse__line-add:link, a.popupresponse__line-add:visited{margin: 0px 0px 20px 0px; padding: 0px 0px 0px 35px; color: #c2c6cc; display: block; background: url(popupresponse__line_add.png) no-repeat 9px 0px; text-decoration: none;}
a.popupresponse__line-add:hover{color: #9a95c8; background-position: 9px -16px; }

.popupresponse__info{ padding: 40px 0px 40px 0px;}
.popupresponse__info label{font: 13px/22px Arial; height: 22px; width: 120px; display: block; float: left;}

.popupresponse__name{float: left; display: block; width: 230px; border: 1px solid #ccc; height: 22px; padding: 2px 5px 2px 5px; font: 13px/22px Arial; margin: 0px 36px 0px 0px; }
.popupresponse__email{float: left; display: block; width: 230px; border: 1px solid #ccc;  height: 22px; padding: 2px 5px 2px 5px; font: 13px/22px Arial;}
.popupresponse textarea{width: 630px; height: 54px; padding: 2px 4px; margin: 0px 0px 12px 0px; border: 1px solid #ccc; font: 13px/16px Arial;}

.popupresponse__submit,
.popupresponse__submit:hover,
.popupresponse__submit:visited,
input.popupresponse__submit,
input.popupresponse__submit:link,
input.popupresponse__submit:visited{
    font: 16px/35px 'Conv_PFDinTextCondPro-Regular';
    color: #555;
    text-align: center;
    display: inline-block;
    width: 183px;
    height: 35px;
    border: none !important;
    padding: 0px !important;
    background: url(popupresponse__submit.png) no-repeat;
    text-decoration: none !important;
    /*text-decoration: blink;*/
}
a.popupresponse__submit:hover{background-position: 0px -35px;}

/* popup thankyou */
.popupthankyou{
    z-index: 300;
    position: absolute;
    width: 650px;
    height: 290px;
    padding: 120px 40px 40px;
    text-align: center;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    left: 50%;
    margin-left: -325px;
    top: 100px;
}
.popupthankyou__close{display: block; position: absolute; top: 20px; right: 20px; width: 16px; height: 16px; background: url(popupresponse__close.png) no-repeat;}
.popupthankyou__close:hover{background-position: 0px -16px;}
.popupthankyou__text{font: 24px/34px Tahoma;}

/* search results */
.results__title{color: #756bc7; font: 52px/52px 'Conv_reformagroteskmedium'; text-transform: uppercase; padding: 40px 0px 40px 0px;}
.results__for{display: block; color: #797c80; font: 14px/16px Tahoma; padding: 0px 0px 5px 0px;}
.results{list-style: decimal outside; color: #797c80; font: 14px/16px Tahoma;}
.results li{list-style: decimal outside; color: #797c80; font: 14px/16px Tahoma; padding: 0px 0px 10px 0px;}
.results p{color: #797c80; font: 14px/16px Tahoma;}
.results a, .results a:link, .results a:visited{color: #6d8ded; font: 14px/16px Tahoma;}
.results a:hover{color: #756bc7; text-decoration: underline;}

/* search left menu */
.search__leftmenu{padding: 67px 0px 0px 0px;}
.search__leftmenu-title{display: block; color: #919599; font: 14px/16px Tahoma; padding: 0px 0px 25px 13px;}
.search__leftmenu-form{background: url(search__leftmenu.png) no-repeat; padding: 5px 0px 0px 10px; width: 200px; height: 27px; position: relative;}
.search__leftmenu-input{border: none; display: block; height: 20px; font: 12px/20px Tahoma; color: #919599; padding: 0px; margin: 0px; width: 160px; background: none;}
.search__leftmenu-submit{position: absolute; width: 30px; height: 25px; display: block; right: 8px; top: 3px; }


.phone_swith {
	text-decoration: none !important;
	border-bottom: 2px dotted #6d8ded;
}

.phone_swith:hover {
	color: black;
	border-bottom: 2px dotted black;
}





#main-menu {
	height: 130px;
	margin: 0 auto;
	width: 950px;
}

#main-menu li, #main-menu li a {float: left;}

#main-menu li {
	height: 111px;
	width: 158px;
	list-style-type: none;
}

#main-menu li a {
	background: url(menu-link-bg.jpg) no-repeat 0 10px;
	display: block;
	overflow: hidden;
	padding: .6em .3em 0 .8em;
	position: relative;
	text-decoration: none;
	height: 96px;
	width: 144px;
}

/*
#main-menu li:first-child a, #main-menu li:first-child a.no-active {
	background-position: -5px 0;
}
	*/

#main-menu li a:hover, #main-menu li a.active:hover {background-position: 0 -222px; z-index: 2}
#main-menu li a.active {background-position: 0 -111px; z-index: 1}

#main-menu li a.no-active {background-position: 0 10px;}

#main-menu li a span {
	color: #6d66ba;
	display: block;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 7px;
	text-transform: uppercase;
}

#main-menu li a i {
	color: #797c80;
	display: block;
	font-size: 12px;
	font-style: normal;
	line-height: 1.2;
}

#slider, #slider ul, #slider ul li, #slider ul li a {
	height: 390px;
	overflow: hidden;
	width: 948px;
    display: block;
}

#slider {
	margin: 0 auto 40px;
	position: relative;
}

#slider .start__bottom {
	position: absolute;
	top: 363px; right: 5px;
}

#slider ul li {
	float: left;
	position: relative;
}

#slider #s-pagination {
	position: absolute;
	bottom: 50px;
	right: 340px;
}

#slider #s-pagination a {
	background: url(pagination.png) no-repeat;
	float: left;
	height: 12px;
	margin-left: 10px;
	overflow: hidden;
	text-indent: -1000px;
	width: 12px;
}

#slider #s-pagination a:hover, #slider #s-pagination a.selected {
	background-position: 0 -12px;
}

#slider .s-bordered-layer {
	background: url(slider-bg.png) no-repeat bottom center;
	height: 40px;
	position: absolute;
	left: 0; bottom: 0;
	width: 948px;
}

#slider .s-text-wrap {
	background: url(white-opacity-bg.png);
	height: 320px;
	padding: 30px 30px 0;
	position: absolute;
	right: 0; top: 0;
	width: 255px;
}

#slider .s-text-wrap .sw-title {
	color: #6d66ba;
	font-family: Conv_reformagroteskdemi, Tahoma, Verdana, Arial, sans-serif;
	display: block;
	font-size: 38px !important;
	/*font-size: 50px;*/
	padding-bottom: 30px;
	text-transform: uppercase;
	line-height: 1;
}

#slider .s-text-wrap .sw-title.big {
	font-size: 38px;
}

#slider .s-text-wrap .sw-text {
	color: #0d0a1a;
	font-size: 16px;
}

#slider .s-text-wrap .sw-detail {
	background: url(more-arr.png) no-repeat left center;
	color: #6d66ba;
	font-size: 14px;
	padding-left: 17px;
	position: absolute;
	left: 30px; top: 295px;
	z-index: 1;
}

#slider .s-text-wrap .sw-detail:hover {
	text-decoration: none;
}

#scroll-menu ul {
	background: #fff;
	position: relative;
}
