$el: '.response__answers';
#{$el} {
  padding-left: 5em;
  padding-top: 2em;
}

$el: '.response__answer';
#{$el} + #{$el} {
  padding-top: 2em;
}

#{$el}-date {
  font: 14px/16px Tahoma;
  color: #aaaeb2;
}

#{$el}-text {
  font: 16px/18px Tahoma;
  color: #797c80;
}