.text__tizer {
  font-size: 15px;
  line-height: 1.4;
  color: #555;
  font-weight: bold;

  + .text__tizer, + .text__part {
    padding-top: 2em;
  }

  + .m-glue {
    padding-top: 0;
  }
}

.text__part {
  color: #797c80;
  font: 16px/18px Tahoma;

  + .text__part, + .text__tizer {
    padding-top: 1.2em;
  }
}

.text__image{
  margin: 1em 0;
}

.text__imagable-btn {
  background: none;
  outline: hidden;
  border: 0;
  cursor: pointer;

  &:hover {
    opacity: .9;
  }
}

