$el: '.vacancy-request-form';

#{$el} {
}

#{$el}__label {
  font: 20px/20px 'Conv_PFDinTextCondPro-Light', Tahoma;
  color: #6d8ded;
}

#{$el}__input input{
  border: 1px #ccc solid;
  padding: 10px;
  font-size: 16px;
}

#{$el}__input + #{$el}__label {
  margin-top: 1em;
}

#{$el}__help {
  color: #71bf44;
  font-size: 16px;
  margin-top: 1em;
}

#{$el}__submit {
  color: #6d66ba;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f8fbe8;
  border: 3px solid #71bf44;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
  margin-top: 1em;
  padding: 0 1.3em;

  &:hover {
    background-color: darken(#f8fbe8, 5);
  }
}