$el: '.vacancies';
$link-color: #6d8ded;


/////////////////////////////////
$el: '.vacancy';

#{$el} + #{$el} {
  margin-top: 1.2em;
}

#{$el}__title, #{$el}__category-image {
  display: inline-block;
  vertical-align: top;
}

#{$el}__title, #{$el}__date {
  display: inline;
  vertical-align: baseline;
}

#{$el}__category-image + #{$el}__title {
  margin-left: .4em;
}

#{$el}__link {
  text-decoration: none!important;
  width: 800px;
  display: inline-block;
  padding-left: .5em;

  #{$el}__title{
    &:hover, &:focus {
      color: darken($link-color, 10%);
    }
  }
}

#{$el}__date {
  color: #797c80;
  font-size: 16px;
  padding-left: 1.3em;
  text-decoration: none;
}

#{$el}__title {
  font: 32px/32px 'Conv_PFDinTextCondPro-Light', Tahoma;
  color: $link-color;
  line-height: 1.3;
  text-decoration: underline;

  &.m-simple {
    text-decoration: none;
  }
}

#{$el}__image {
  margin-top: 1em;
  max-width: 100%;
  max-height: 600px;
  width: auto;
  height: auto;
}

#{$el}__description {
  margin-top: 1em;

  h3 {
    padding: 0 0 1em;
    margin: 0;
    font: 20px/24px 'Conv_PFDinTextCondPro-Light', Tahoma;
    color: #6d8ded;
  }

  p, ol, ul {
    font: 16px/24px Tahoma;
    color: #797c80;
  }

  p {
    margin: 0;
    padding: 0 0 1em;
  }

  ol, ul {
    margin-left: 1.2em;

    + ol, + ul {
      margin-top: 1em;
    }
  }
}