ul.checkable-doctors-list
  - @doctors.each do |doctor|
    - availability = doctor[:availability]
    li
      = label_tag "doctors_#{doctor[:id]}",
              class: "js-checkable-doctor checkable-doctor #{availability.zero? ? 'm-unavailable' : 'm-available'}" do
        span.checkable-doctor__ok ✓
        = radio_button_tag "doctors",
                doctor[:id],
                false,
                class: 'checkable-doctor__radio',
                disabled: availability.zero?
        span.checkable-doctor__name = doctor[:title]
        span.checkable-doctor__availability
          - unless availability.zero?
            =' availability
            = Russian.p(availability, 'номерок', 'номерка', 'номерков')
          - else
            | номерков нет

