= render 'appointments/hidden_fields'

.form-group
  h3 Уточните Ваш район
  p Выберите из списка район, в котором находится клиника
  = text_field_tag :district_id, params[:district_id], id: 'js-districts', size: '50', placeholder: 'Выберите из списка'


.form-group
  h3 Уточните Вашу клинику
  p Выберите из списка клинику, в которую собираетесь записаться
  = text_field_tag :lpu_id, params[:polyclinic_id], id: 'js-polyclinics', size: '90', placeholder: 'Сначала выберите район'

.btn-block
  = submit_tag 'Далее', class: 'btn btn-success m-inactive js-next-step', disabled: :disabled
  .info Заполните все поля,чтобы перейти к следующему шагу