= render 'appointments/hidden_fields'
.form-group
  h3 Представьтесь, пожалуйста
  p
    | Введите полностью Ваше имя и дату рождения.
    br
    | Все эти поля обязательны для заполнения
  .text-row
    = text_field_tag 'last_name', params[:last_name], size: '40', placeholder: 'Фамилия', required: true
    = text_field_tag 'first_name', params[:first_name], size: '30', placeholder: 'Имя', required: true
    = text_field_tag 'middle_name', params[:middle_name], size: '40', placeholder: 'Отчество'

  .text-row
    = text_field_tag 'birthday(3i)', params['birthday(3i)'], size: '4', placeholder: 'День', required: true, type: 'text', maxlength: 2, class: 'js-numeric'

    / заполняем выбранный месяц
    - unless params[:birthday].blank?
      - if Date.valid_date? *params[:birthday].split('-').map(&:to_i)
        - birthday_month = Date.parse(params[:birthday])
    - else
      - birthday_month = nil
      = select_month birthday_month, { field_name: false, prompt: 'Месяц', prefix: 'birthday(2i)', discard_type: true }, { class: 'js-requried  js-select', required: true, placeholder: 'месяц' }

      = text_field_tag 'birthday(1i)', params['birthday(1i)'], size: '10', placeholder: 'Год', required: true, type: 'text', maxlength: 4, class: 'js-numeric'
p
  | Уважаемый Пациент! Вводя Ваши Фамилию, Имя, Отчество, а также дату рождения, Вы подтверждаете свое согласие на обработку персональных данных в соответствии с п. 4 ст. 9 Федерального закона № 152-ФЗ.
.btn-block
  = submit_tag 'Далее', class: 'btn btn-success m-inactive js-next-step', disabled: :disabled
  .info Заполните все поля,чтобы перейти к следующему шагу