.body
  .appointment-form.js-appointment-step-5

    = error_messages

    .col.col-60
      h3 Внимание! Подтвердите Вашу запись
      p
        | Мы еще раз повторим информацию, которую Вы ввели,
        br
        | а Вы проверите, насколько она верна

      = form_tag appointment_confirm_path, class: 'js-form'
        = render 'appointments/hidden_fields'
        .confirm-box
          .form-group
            .text-row
              .label Ваше имя
              .info = "#{params[:last_name]} #{params[:first_name]} #{params[:middle_name]}"

            .text-row
              .label Дата рождения
              .info = l Date.parse(params[:birthday]), format: :full

            /.text-row
              .label Телефон
              .info ГДЕ ВЗЯТЬ ТЕЛЕФОН?


          .form-group
            /.text-row
              .label Адрес Вашего отделения
              .info ГДЕ ВЗЯТЬ АДРЕС?

            .text-row
              .label Врач
              .info = params[:doctor_name]
              .info = ", #{params[:speciality_name]}"

            .text-row
              .label Дата посещения
              .info = l Date.parse(params[:visit_date]), format: :full

            .text-row
              .label Время
              .info = params[:visit_time]



        /p = link_to 'мне нужно кое-что исправить', '#', class: 'under-confirm-box'
        = link_to 'Назад', appointment_step4_path(params), class: 'btn btn-success m-inactive'
        = submit_tag 'Подтвердить запись', class: 'btn btn-success m-check-page'
        br
        br
        br
        br
        .error
          | Если Ваши планы изменятся, пожалуйста, отмените или перенесите свою запись на нашем сайте или через колл-центр по телефону в
          br
          ' Санкт-Петербурге
          b
            '670 00 03
          ' с 8.00 до 20.00 ежедневно. В период с 11.00 до 16.00 наш колл-центр загружен менее всего.
          br
          br
          | Проинформировав нас вовремя об отмене визита, Вы даете нашим врачам возможность в это время оказать медицинскую помощь другому человеку, который в ней нуждается.


