.body
  .appointment-form.js-appointment-step-6
    /.back-btn.js-back-btn
      = link_to('← Посмотреть текущие записи', appointment_history_path(params), class: 'link')

    .col.col-60
      h3 = "Уважаемый (-ая) #{params[:first_name]} #{params[:middle_name]}"


      .confirm-box
        .form-group
          / сервис не отдает НОМЕР ЗАПИСИ
          / поэтому скрываем поле
          /.text-row
            .info.m-big = "Номер вашей записи: ГДЕ ВЗЯТЬ НОМЕР?"

          .text-row
            .info.m-big
              | Вы записались на прием к врачу:
              br
              b = params[:doctor_name]
              br
              ' на
              b = "#{l Date.parse(params[:visit_date]), format:'%d %B %Y'}, #{params[:visit_time]}"

        /.form-group
          /.text-row
          /  .label Адрес вашего отделения
          /  .info ГДЕ ВЗЯТЬ АДРЕС?

          .text-row
            .label время посещения
            .info = params[:visit_time]


        / СЕРВИС не обладает связкой с адресами больниц
        / и номера заявок. Поэтому распечатать нечего
        /.form-group
          = link_to '#', class: 'link link-dashed' do
            span.fa.fa-map-marker
            span показать на карте

          = link_to '#', class: 'link' do
            span.fa.fa-print
            span распечатать номерок с картой
      p
        | Если Ваши планы изменятся, пожалуйста, измените запись на нашем сайте или сообщите нашим операторам по телефону 670 00 03
        br
        br
        | Благодарим Вас за то, что Вы воспользовались нашим сервисом записи на прием.