.body
  .appointment-form.js-appointment-step-3
    = render_steps_for_step 3

    = error_messages

    .h-group
      h3  Запишитесь на прием /
      h4 = link_to 'Текущие записи', cancel_appointment_auth_path(params)
      p Выберите из списка специализацию или процедуру

    = form_tag appointment_step4_path do
      = render 'appointments/hidden_fields'
      .form-group
        h3 Уточните специализацию
        p Выберите из списка специализацию или тип процедуры
        = text_field_tag 'speciality_id', nil, size:'40', id: 'js-specialities', placeholder: 'Выберите из списка'

      .form-group
        h3 К какому специалисту вы пойдете?
        p Выберите из списка врача, к которому собираетесь записаться
        = image_tag '/assets/ajax-loader.gif', class: 'js-checkable-doctors-loader'
        #js-checkable-doctors-list
          .checkable-doctor__availability Вначале выберите специализацию
        /
          Скрыли select на длительный период
          = text_field_tag 'doctor_id', nil, size:'80', id: 'js-doctors', placeholder: 'Сначала выберите специализацию'

      .confirm-box
        .form-group
          .text-row
            p
              b = "Внимание! "
              ' В день здорового ребенка в центре выделены определенные часы для приема только здоровых детей. Пациенты с симптомами ОРВИ в это время не принимаются. В случае записи ребенка с признаками ОРВИ, администратор вправе перенести Ваш визит к врачу на другое время.
              = link_to 'Узнать расписание дня здорового ребенка', article_path(id: 28)

      p
        ' Уважаемый Пациент! Обращаем Ваше внимание, что запись к узким специалистам (невролог, офтальмолог, кардиолог, хирург, ортопед, отоларинголог), а также ультразвуковую диагностику (УЗИ) через сайт в настоящее время не осуществляется.
        br
        ' Для получения направления к специалисту или на УЗИ запишитесь на плановый прием к Вашему лечащему врачу. При наличии направления к специалисту или на исследование от Вашего лечащего врача, для записи к специалистам, пожалуйста, обратитесь в наш колл-центр по телефону в Санкт-Петербурге
        b
          ' 670 00 03
        ' с 8.00 до 20.00 ежедневно. В период с 11.00 до 16.00 наш колл-центр загружен менее всего.

      .btn-block
        = submit_tag 'Далее', class: 'btn btn-success m-inactive js-next-step', disabled: :disabled
        .info Заполните все поля,чтобы перейти к следующему шагу



