.body
  .appointment-form.js-appointment-step-4
    = render_steps_for_step 3

    = error_messages


    .col.col-60
      h3 = params[:doctor_name]

      = form_tag appointment_check_path, class: 'js-form'
        = render 'appointments/hidden_fields'
        .form-group
          - if @earliest_tickets.present?
            .tickets-list
              - @earliest_tickets.each do |ticket|
                = label_tag "appointment_id_#{ticket.id}", data: {visit_time: "#{ticket.visit_start.strftime('%H:%M')} — #{ticket.visit_end.strftime('%H:%M')}" } do
                  = radio_button_tag 'appointment_id', ticket.id
                  .tickets-list-ticket-info = "#{ticket.visit_start.strftime('%H:%M')} — #{ticket.visit_end.strftime('%H:%M')}, свободно"
                  .tickets-list-ticket-alt-text записаться

          - else
            p
              ' Уважаемый пациент! К сожалению, выбранный Вами специалист не ведет амбулаторный прием в выбранном центре в этом месяце.
              br
              ' Пожалуйста, выберите другого врача, либо уточните информацию в нашем колл-центре по телефону в Санкт-Петербурге
              b
                '670 00 03
              ' с 8.00 до 20.00 ежедневно. В период с 11.00 до 16.00 наш колл-центр загружен менее всего.




    .col.col-40
      .calendar.js-calendar
        .calendar-header
          / проверяем можно ли посмотреть на месяц назад.
          / раньше текущего месяца смотреть нельзя
          - link_to_previous_month = (@date.end_of_month - 1.month + 1.day > Date.today.beginning_of_month) ? appointment_step4_path(params.merge(date: @date - 1.month)) : '#'
          = link_to link_to_previous_month do
            span.fa.fa-chevron-left
          span = "#{t('date.months')[@date.month]} #{l @date, format: :year}"
          = link_to appointment_step4_path(params.merge(date: @date + 1.month)) do
            span.fa.fa-chevron-right

        .calendar-body
          = calendar @date do |date|
            - day_css = 'with_tickets' unless @grouped_tickets_by_date.try(:[] ,date).blank?
            div class=day_css
              - if @grouped_tickets_by_date.try(:[] ,date).blank?
                = date.day
              - else
                = link_to date.day, appointment_step4_path(params.merge(date: date))