.body
  .appointment-form.js-appointment-step-3
    = render_cancel_steps_for_step 3

    = error_messages

    .h-group
      h4 = link_to 'Запишитесь на прием', appointment_step3_path(params)
      h3 = '/ Текущие записи'
      p В списке выведены ваши записи. Вы можете удалить любую из них.


    - unless @futureHistory.blank?
      p Предстоящие записи
      table.table cellspacing=0
        tr
          th Доктор
          th Специализация
          th Дата
        - @futureHistory.each do |appointment|
          tr
            td = appointment[:doctor_rending_consultation][:name]
            td = appointment[:speciality_bring_referal][:name_spesiality]
            td.appointment-form__remove-appointment
              span = l appointment[:visit_start], format: "%d %B %Y, %H:%M"
              span.appointment-form__remove-appointment-icon
                = form_tag cancel_appointment_claim_for_refusal_path do
                  | x
                  = render 'appointments/hidden_fields'
                  = hidden_field_tag :id_appointment, appointment[:id_appointment]
                  = submit_tag 'Отменить запись', class: 'appointment-form__remove-appointment-btn', data: { confirm: 'Отменить запись к врачу?' }

    - else
      p У вас нет ни одной предстоящей записи
    br
    br
    br
    br
    / Было решено скрыть историю прошлых записей
    /- unless @pastHistory.blank?
      p Прошедшие записи
      table.table cellspacing=0
        tr
          th Доктор
          th Специализация
          th Дата
        - @pastHistory.each do |appointment|
          tr
            td = appointment[:doctor_rending_consultation][:name]
            td = appointment[:speciality_bring_referal][:name_spesiality]
            td.appointment-form__remove-appointment
              span = l appointment[:visit_start], format: "%d %B %Y, %H:%M"
              span.appointment-form__remove-appointment-icon(style='visibility:hidden')
                | x

    - if @futureHistory.blank? && @pastHistory.blank?
      .error История записей пуста.





