.body
  .appointment-form.js-appointment-login
    = render_cancel_steps_for_step 2

    = error_messages

    .h-group
      h4 = link_to 'Запишитесь на прием', appointment_step3_path(params)
      h3 = '/ Авторизация'
      p Чтобы просмотреть предстоящие записи необходимо вас авторизовать

    = form_tag cancel_appointment_auth_path do
      = render 'appointments/hidden_fields'
      .form-group
        h3 Паспортные данные
        p Заполните серию и номер вашего паспорта или свидетельства о рождении
        .text-row
          = text_field_tag :doc_series, params[:doc_series], id: 'js-districts', size: '9', maxlength: 6, placeholder: 'Серия', required: true
          = text_field_tag :doc_number, params[:doc_number], id: 'js-districts', size: '11', maxlength: 6, placeholder: 'Номер', required: true

      .btn-block
        = submit_tag 'Далее', class: 'btn btn-success m-inactive js-next-step', disabled: :disabled
        .info Заполните все поля,чтобы перейти к следующему шагу



