.body
  .appointment-form.js-appointment-step-2
    = render_cancel_steps_for_step 1

    = error_messages

    = form_tag cancel_appointment_step2_path do
      = render 'appointments/step1_form'



