<div id="shadow" style="display:none"></div>
<div class="popupresponse" style="display:none">
  <a href="javascript:;" class="popupresponse__close"></a>

  <h2 class="popupresponse__title">Оставить свой отзыв</h2>

  <div class="popupresponse__data">
    <%= form_for(@review, remote: true, html: { class: 'js-review-form' }) do |f| %>
      <div class="popupresponse__left clearfix">
        <label>Я хочу</label>
        <%= f.select(:status, options_for_select([['Поблагодарить', 'Positive'], ['Пожаловаться', 'Negative']])) %>
      </div>
      <div class="popupresponse__right">
        <div class="popupresponse__line popupresponse__line-first clearfix">
          <label>Отделение</label>
          <%= f.collection_select(:office_id, offices_for_reviews, :id, :title) %>
        </div>
        <div id="doc" class="popupresponse__line clearfix">
          <div class="doc">
            <input type="checkbox" checked="checked"/>
            <label>Врач</label>
            <%= f.grouped_collection_select(:doctor_id, offices_for_reviews, :doctors, :title, :id, :full_name, {}, class: 'doctors-select') %>
          </div>
        </div>

        <a href="" class="popupresponse__line-add" id="add_doctors">Еще один врач</a>
      </div>
      <%= hidden_field_tag 'review[doctors]', nil, id: 'review_docs' %>
      <%= hidden_field_tag 'check', 1, id: 'check' %>
      <%= f.hidden_field :region_id, :value => 1 %>
      <div class="popupresponse__info clearfix">
        <div id='feedback_error' class="feedback-error"></div>
        <label>Представьтесь:</label>
        <input class="popupresponse__name" id="review_author" name="review[author]" size="30" type="text" placeholder="Введите Ваше имя..."/>
        <input class="popupresponse__email" id="review_contact" name="review[contact]" size="30" type="text" placeholder="e-mail или номер телефона"/>
      </div>
      <div id='feedback_error_description' class="feedback-error"></div>
      <textarea cols="40" id="review_description" name="review[description]" rows="20" placeholder="Ваш отзыв"></textarea>
      <%= f.submit "Отправить отзыв", :class => "popupresponse__submit" %>


    <% end %>
  </div>
</div>