<div class="popupthankyou js-review-result-thanks" style="display:none">
	<a href="javascript:;" class="popupthankyou__close"></a>
	<p class="popupthankyou__text">Большое спасибо за Ваш отзыв.</p>
</div>

<div class="popupthankyou js-review-result-important" style="display:none">
  <a href="javascript:;" class="popupthankyou__close"></a>

  <p class="popupthankyou__text">
    Спасибо за Ваше обращение!<br/>
    Пожалуйста, убедитесь, что Вы указали фамилию, имя, отчество пациента, который обращался
    в наши центры. <br/>
    Без этой информации мы не сможем разобраться в ситуации и сообщить Вам о результатах!
  </p>
  <br/>
  <br/>
  <br/>
  <a href="#" class="js-review-result-important-back popupthankyou-link">Посмотреть обращение еще раз</a>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a href="#" class="js-review-result-important-submit popupresponse__submit">Отправить</a>
</div>


<div class="popupthankyou js-review-result-warning" style="display:none">
  <a href="javascript:;" class="popupthankyou__close"></a>
  <p class="popupthankyou__text">
    Спасибо за Ваш отзыв!<br/>
    Мы свяжемся с Вами по телефону или электронной почте в течение трех рабочих дней, чтобы
    сообщить о результатах нашего внутреннего расследования!<br/>
    Если Вы не получили ответ в течение указанного времени,
    пожалуйста, продублируйте свое обращение на адрес
    <a href="mailto:info@polisoms.ru">info@polisoms.ru</a>
  </p>
</div>
