.body.clearfix
  .body__left
    .response__menu
      .review-button__container
        = react_component('ReviewButton', { \
            offices: offices_for_review, \
            doctors: doctors_for_review, \
            filled: true \
          }, { prerender: true })

        = react_component('ReviewButton', { \
            type: 'negative', \
            offices: offices_for_review, \
            doctors: doctors_for_review, \
            filled: true \
          }, { prerender: true })

      /a.response__menu-up[href="#"]
      /  span
      /    | Поблагодарить
      /a.response__menu-down[href="#"]
      /  span
      /    | Пожаловаться
  .body__data
    ul.responses
      - @reviews.each do |review|
        li
          b
            = review.author
          span
            =' review.created_at.strftime("%d.%m.%Y")
            - unless review.office_id.blank?
              ' Отделение:
              =' DoctorsApiOffice.where(:id => review.office_id).first.try(:address)
              - unless review.doctors.blank?
                ' Врач:
                = Doctor.where(:id => review.doctors).map(&:full_name).join(",")
          p
            = review.description
          .response__answers
            - review.answers.on_site.each do |answer|
              .response__answer
                .response__answer-date
                  = "Ответ от #{answer.created_at.strftime('%d.%m.%Y')}"
                .response__answer-text = raw answer.text

    = will_paginate @posts, :container => true, :class => 'flickr_pagination'
/= render 'review'
/= render 'reviews/thank'