$el: '.review-form';

#{$el}__block {
  display: block;
  margin-top: 10px;
}

#{$el}__inline {
  display: inline-block;
  vertical-align: baseline;

  &.m-padding,
  & + #{$el}__inline {
    padding-left: 10px;
  }
}

#{$el}__title {
  height: 30px;
  font: 26px/30px Tahoma;
  color: #555555;
  padding: 0;
  padding-bottom: 20px;
}

#{$el}__submit-btn {
  $height: 35px;
  font: 16px/35px 'Conv_PFDinTextCondPro-Regular';
  color: #555;
  text-align: center;
  display: inline-block;
  width: 183px;
  height: $height;
  border: none;
  padding: 0;
  background: url(popupresponse__submit.png) no-repeat;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  &:hover {
    background-position-y: -$height;
  }

  &:active, &:focus {
    background-position-y: -2*$height;
    outline: none;
  }

  &.m-disabled {
    opacity: .5;
    &:hover, &:active, &:focus {
      background-position-y: 0;
      cursor: default;
    }
  }
}

#{$el}__cancel-btn {
  $color: #6d8ded;
  border: none;
  background: none;
  color: $color;
  font: 16px pf_dindisplay_proregular, Tahoma, Verdana, Arial, sans-serif;
  display: block;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;

  &:hover, &:active, &:focus {
    color: darken(#6d8ded, 10%);
  }
}

#{$el}__select select,
#{$el}__input input,
#{$el}__textarea textarea {
  font-size: 14px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#{$el}__select,
#{$el}__input,
#{$el}__textarea {
  span {
    vertical-align: top;
  }
}

#{$el}__textarea textarea {
  width: 100%;
}