$el: '.review-doctors';

#{$el}__label,
#{$el}__list {
  display: inline-block;
  vertical-align: top;

  + #{$el}__list {
    margin-left: 10px;
  }
}

#{$el}__remove-btn {
  font-size: 10px;
  padding: 2px 5px;
  margin-left: 10px;
  background: #efefef;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#{$el}__add-btn {
  margin: 10px 0 0 0;
  padding: 0 0 0 25px;
  color: #c2c6cc;
  display: block;
  background: url(popupresponse__line_add.png) no-repeat 3px 0;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  font-size: 13px;

  &:hover {
    color: #9a95c8;
    background-position-y: -16px;
  }
}

#{$el}__item + #{$el}__item {
  margin-top: 10px;
}