.review-button {
  display: block;
  height: 25px;
  font: 14px/25px Tahoma;
  color: #000;
  padding: 0 40px 0 60px;
  outline: none;
  border: none;
  cursor: pointer;
}

.review-button.m-positive {
  background: url(start__bottom-i2.png) no-repeat right top;
}

.review-button.m-negative {
  background: url(start__bottom-i1.png) no-repeat right top;
}

.review-button__container > .review-button__inline {
  display: inline-block;
}

.review-button.m-filled {
  margin: 0 0 12px 0;
  padding: 0 0 0 12px;
  width: 162px;
  height: 38px;
  font: 14px/38px Tahoma;
  color: #fff;
  text-decoration: none;

  &.m-positive {
    background-image: url(response__up.png);
  }

  &.m-negative {
    background-image: url(response__down.png);
  }
}