$el: '.review-popup';

#{$el} {
  $width: 600px;
  position: fixed;
  top: 10px;
  left: 50%;
  margin-left: -$width/2;
  width: $width;
  z-index: 2;
  padding: 15px 25px 30px 25px;

  font: 13px/16px Arial;
  color: #333;
  background: #f5f5f5;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;


  &.m-opened {
    display: block;
    visibility: visible;
  }

  &.m-hidden {
    display: none;
    visibility: hidden;
  }
}

#{$el}__shadow {
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
  left: 0;
  top: 0;
  background-color: #999999;
  position: fixed;
  opacity: 0.9;
  bottom: 0;
  right: 0;
  z-index: 1;
}