$el: '.review-thanks';

#{$el} {
  font-size: 16px;
  padding: 40px;

  h1 {
    text-align: center;
    font-size: 22px;
  }

  p {
    line-height: 1.3;
    padding-top: 1em;
    a {
      margin-left: .3em;
    }
  }
}