<% if Rails.env.staging? %>
  <meta name='yandex-verification' content='4453c14acc5c64ef'/>
<% end %>

<% if Rails.env.production? %>
  <meta name='yandex-verification' content='76456a9e81892963'/>
<% end %>