<div class="footer clearfix">
  <div class="footer-inner">
    <div class="footer__section m-search">
      <div class="footer__search">
        <form id="footsearch" accept-charset="UTF-8" action="/search" method="get">
          <input name="utf8" type="hidden" value="&#x2713;"/>
          <input type="text" class="footer__search-input" name="search" placeholder="поиск по сайту" onclick="control_in(this, 'поиск по сайту');" onblur="control_out(this, 'поиск по сайту');"/>
          <!-- 2013.01.06 добавлена кнопка -->
          <a class="footer__search-submit"></a>
        </form>
      </div>
    </div>
    <div class="footer__section m-ext-links">
      <ul class="footer__menu">
        <li><%= link_to "Полис", abouts_path %></li>
        <li><%= link_to "Адреса поликлиник", offices_path %></li>
        <li><%= link_to "Услуги", services_path %></li>
        <li><%= link_to "Отзывы", reviews_path %></li>
        <li><%= link_to "Новости", articles_path %></li>
        <li><%= link_to "Вакансии", vacancies_path %></li>
      </ul>

      <ul class="footer__menu">
        <p>ПОЛИС. Участковые врачи является частью группы компаний
          <a href="http://euromed-group.ru" target="blank">Euromed Group</a>
        </p>
        <li class="b-group-list b-group-list-item1">
          <a target="_blank" href="http://euromed.ru/">Euromed Group</a>
        </li>
        <li class="b-group-list b-group-list-item2">
          <a target="_blank" href="http://euromed.ru/">Euromed <span>Clinic</span></a>
        </li>
        <li class="b-group-list b-group-list-item3">
          <a target="_blank" href="http://www.euromed-invitro.ru/">Euromed <span>Invitro</span></a>
        </li>
        <li class="b-group-list b-group-list-item5">
          <a target="_blank" href="http://www.euromed-express.ru/">Euromed <span>Express</span></a>
        </li>
        <li class="b-group-list b-group-list-item4">
          <a target="_blank" href="http://www.deti-euromed.ru/">Euromed <span>Kids</span></a>
        </li>
        <li class="b-group-list b-group-list-item7">
          <a href="/">ПОЛИС Euromed Group</a>
        </li>
        <li class="b-group-list b-group-list-item6"><a target="_blank" href="http://hroniki.org/">Хроники</a></li>
      </ul>
    </div>

    <div class="footer__section m-last">

      <ul class="footer__menu m-center">
        <% if current_region.id == 1 %>
            <a target="_blank" href="https://vk.com/polis_oms" class="b-group-list b-group-list-item-vk"></a>
        <% elsif current_region.id == 2 %>
          <a target="_blank" href="https://vk.com/polisulianovsk" class="b-group-list b-group-list-item-vk"></a>
          <a target="_blank" href="http://ok.ru/group/52352191299732" class="b-group-list b-group-list-item-ok"></a>
        <% end %>
        <a target="_blank" href="https://www.facebook.com/Полис-Участковые-врачи-881382345275963/timeline" class="b-group-list b-group-list-item-fb"></a>
        <a target="_blank" href="https://www.instagram.com/polis_oms/" class="b-group-list b-group-list-item-inst"></a>
      </ul>

      <ul class="footer__menu">
        <%= link_to "euromed", 'http://euromed-group.ru', :target => "_blank", :class => 'euromed__logo' %>
      </ul>
      <ul class="footer__menu m-block">
        <%= link_to jci_path, :class => 'jci__logo' do %>
          <%= image_tag 'logo-jci.png' %>
          <span>Мы готовимся к аккредитации JCI</span>
        <% end %>
      </ul>
    </div>

  </div>
  <div class="footer__address">
    <p class="footer__copy">
      &copy; Полис. Euromed Group
      <br/>
      191015, Санкт-Петербург, Шпалерная ул., дом 51 литА
    </p>
  </div>
</div>
