<div id="header">
	<a href="/" class="logo" title="На главную">ПОЛИС участковые врачи (будьте здоровы)</a>

  <%= render 'layouts/location' %>

  <% appointment_link = current_region.try(:appointment_link).blank? ? appointment_step1_path : current_region.try(:appointment_link) %>
  <% appointment_css_class = 'm-active' if controller_name == 'appointments' %>
  <% right_css_class = 'm-right' unless region_has_appointments %>

  <%= link_to appointment_link, class: "appoint #{appointment_css_class} #{right_css_class}" do %>
    <span>Записаться<br/>на прием</span>
  <% end %>


  <% if region_has_appointments %>
    <% cancel_appointment_css_class = 'm-active' if controller_name == 'cancel_appointments' %>
    <%= link_to cancel_appointment_step1_path, class: "cancel-appoint #{cancel_appointment_css_class} #{right_css_class}" do %>
      <span>Отменить<br/>запись</span>
    <% end %>
  <% end %>

  <% if region_has_appointments %>
    <% doctor_requests_class = 'm-active' if controller_name == 'doctor_requests' %>
    <%= link_to doctor_requests_person_path, class: "request #{doctor_requests_class}" do %>
      <span>Вызвать врача<br/>на дом</span>
    <% end %>
  <% end %>


	<div class="phone">
		<span class="p-number"><nobr>
      <%= current_region.phone %>
    </nobr></span>
		<span class="p-notice"><a href="#" id="phone_show" class="phone_swith"><nobr>Режим работы и выезда</nobr></a></span>
	</div>
	<div class="phone full" id="phone-full" style="display:none;">
		<span class="p-number"><%= current_region.phone %></span>
		<span class="p-notice"><a href="#" id="phone_hide" class="phone_swith">Режим работы и выезда</a></span>
		<br/>
    <%= raw current_region.work_time %>
	</div>
</div>

<ul id="main-menu">
	<li><%= link_to abouts_path, :class => ('active' if controller_name == "abouts") do %>
	  <span>Полис</span><i>Информация о клиниках<br />Ваши права<br/> в системе ОМС</i>
	<% end %></li>
	<li><%= link_to offices_path, :class => ('active' if controller_name == "offices") do %>
	  <span>Адреса</span><i>Отделения на карте<br />с расписанием приема</i>
	<% end %></li>
	<li><%= link_to services_path, :class => ('active' if controller_name == "services") do %>
	  <span>Услуги</span><i>Информация об услугах <br/>диспансеризация</i>
	<% end %></li>
  <li><%= link_to staff_index_path, :class => ('active' if controller_name == "doctors") do %>
    <span>Персонал</span><i>Ваши врачи<br/>Вакансии</i>
  <% end %></li>
	<li><%= link_to reviews_path, :class => ('active' if controller_name == "reviews") do %>
	  <span>Отзывы</span><i>Мнение пациентов<br />Поделитесь своим</i>
	<% end %></li>
	<li><%= link_to articles_path, :class => ('active' if controller_name == "articles") do %>
	  <span>Новости</span><i>Главные события<br />Будьте в курсе</i>
	<% end %></li>
</ul>