<% unless region_session_present? %>
  <div class="choose-location-overlay"></div>
<% end %>
<div id="location" style='<%="display: #{region_session_present? ? 'none' : 'block'}" %>' >
  <div id="invite">
    <b><%= current_region.invite %></b>
  </div>
  <%= link_to 'Да', '#', :id => 'location-yes' %>
  <%= link_to 'Выбрать регион', '#', :class => 'point-und', :id => 'location-select' %>
</div>

<div class="location-selector">
  <%= link_to current_region.name, '#', :class=> 'curr-selector-label', 'data-reg-id' => current_region.id, :title => current_region.name %>

  <div class="selector-list">
    <ul>
      <% Region.actived.each do |reg| %>
          <%= content_tag :li do %>
              <%= link_to reg.name, '#', 'data-reg-id' => reg.id %>
          <% end %>
      <% end %>
    </ul>
  </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $('.curr-selector-label').click(function () {
            if ($(this).parent().hasClass('address-open')) {
                $(this).parent().removeClass('address-open');
            }
            else {
                $(this).parent().addClass('address-open');
            }
            return false;
        });

        $('.selector-list a').click(function () {
//            $('.selector-list li').removeClass('address__selector-selected');
//            $(this).parent().addClass('address__selector-selected');
//            $('.curr-selector-label').html($(this).html());
//            $('.curr-selector-label').attr("data-reg-id", $(this).attr("data-reg-id"));
            $('.location-selector').removeClass('address-open');
            $.post("/set_region", {
              name: $(this).html(),
              id: $(this).data('reg-id')
            });
        });

        $('#location-yes').click(function () {
            $('#location').hide();
            $.post("/set_region", {
              name: $('.curr-selector-label').html(),
              id: $('.curr-selector-label').data("reg-id")
            });
        });
        $('a#location-select').click(function () {
            $('.location-selector').addClass('address-open');
        });

    });


    isReg = <%= region_session_present? %>
    if (!isReg) {
        $('#location').show();
        if(!<%= region_session_geolocation? %>) ymaps.ready(location_init);
    }
    function location_init() {
        // Данные о местоположении, определённом по IP
        var geolocation = ymaps.geolocation;
        $.post("/set_region", {name: geolocation.region});
    }
</script>