<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
  <title>Polisoms</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/assets/ie.css">
  <![endif]-->
  <%= favicon_link_tag "favicon48x48.png", type: "image/png" %>
  <%= javascript_include_tag "http://api-maps.yandex.ru/2.0/?load=package.standard&lang=ru-RU" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "ckeditor/init" %>
  <%= yield :head %>
  <%= render 'layouts/developer_meta_tags' %>
</head>
<body>

<div id="container">
<%= render 'layouts/header' %>

<%= yield %>
</div>
<%= render 'layouts/footer' %>
<%= render 'shared/external_sidebar_link' %>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter20512015 = new Ya.Metrika({id:20512015,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/20512015" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>

</html>
